.footer {
	background: var(--black);
	padding: 8rem 0;
	@media (max-width: 767px) {
		padding: 5rem 0;
	}
	color: white;
	.top {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 4rem;
		&-left {
			flex: 1 1 400px;
			p {
				font-size: var(--step-2);
				font-weight: 600;
				line-height: 1.4;
			}
		}
		&-right {
			flex: 1 1 400px;
			@media (max-width: 600px) {
				order: -1;
			}
			.box {
				width: 392px;
				height: 392px;
				padding: 6rem;
				margin-left: auto;
				@media (max-width: 600px) {
					width: 250px;
					height: 250px;
					padding: 3rem;
					margin-left: 0;
				}
				background: var(--purple);
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				svg {
					position: absolute;
					bottom: -4rem;
					left: -4rem;
					@media (max-width: 600px) {
						left: unset;
						right: -2rem;
						bottom: -2rem;
						width: 100px;
						height: 100px;
					}
				}
			}
		}
	}
	.bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
		margin-top: 8rem;
		a {
			color: white;
		}
		.column {
			flex: 1 1 250px;
			&--wide {
				flex-basis: 500px;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}
		form {
			display: flex;
			gap: 1rem;
		}
		.resource-list {
			li {
				margin-bottom: 0.5rem;
				a {
					text-decoration: none;
					text-decoration-color: var(--purple);
					text-underline-offset: 5px;
					text-decoration-thickness: 3px;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
		.social-heading {
			margin-top: 5rem;
		}
		.social-list {
			display: flex;
			gap: 1rem;
			svg {
				fill: currentColor;
			}
		}
	}
}
