.hero {
	position: relative;
	padding-top: 2rem;
	overflow: hidden;
	@media (min-width: 1400px) {
		min-height: 1000px;
		padding-left: 70px;
	}
	.wrapper {
		position: relative;
	}
	.squid-wrapper {
		position: absolute;
		right: -8rem;
		top: -8rem;
		z-index: -1;
		width: 1018px;
		@media (max-width: 1400px) {
			width: 750px;
			top: unset;
			bottom: -5rem;
		}
		@media (max-width: 1100px) {
			width: 500px;
			bottom: -3rem;
		}
		@media (max-width: 600px) {
			width: 350px;
			right: -5rem;
		}
	}
	&-content {
		max-width: 600px;
		h1 {
			margin-bottom: 3rem;
			max-width: 18ch;
		}
		strong {
			font-family: var(--sans-serif);
			font-weight: 600;
			font-size: var(--step-1);
		}
		ul {
			font-family: var(--sans-serif);
			font-weight: 500;
			list-style: none;
			padding: 0;
			margin-bottom: 3rem;
			li + li {
				margin-top: 0.5rem;
			}
		}
	}
	.water {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -2;
	}
	.scroll {
		margin: 2rem 0;
		&-text {
			transform-origin: center;
			transform: rotate(calc(var(--progress) * 100deg));
		}
	}
}
