---
import Layout from '../../../Base.astro';
import SimpleHero from '../../../components/SimpleHero.astro';
import { Img } from 'astro-imagetools/components';
---

<Layout title="Content Creation">
  <SimpleHero
    tagline="Services"
    title="Content <br>Creation"
    description="Master the art of engagement with fresh, unique and beautiful content that will be on-brand, within budget & delivered right when you need it."
    mediaFront="/images/services/content-creation-front.png"
    mediaMiddle="/images/services/content-creation-middle.png"
    mediaBack="/images/services/content-creation-back.jpg"
  />
  <div class="service-intro service-intro--content">
    <div class="wrapper">
      <p class="h4">
        We create <em>original</em>, <em>creative</em> and <em>engaging content</em> for your brand at scale. We do this
        by eliminating the headache of creating quality material on demand - so you don’t have to!
      </p>
      <div class="service-intro-media" data-lg-parallax="child">
        <div>
          <Img src="/images/services/content-creation-office-photo.jpg" alt="Some kelpers in a meeting" />
        </div>
      </div>
      <div class="service-intro-text">
        <p>
          You’ll collaborate with our team of multi-disciplinary and talented content creators to tell the story across
          mediums. We specialize in website design and development, immersive interactive experiences that demonstrate
          your new product or increase brand awareness through digital and print design — all while maintaining an
          optimized production process so you can quickly get high quality results without sacrificing time!
        </p>
      </div>
    </div>
  </div>
  <div class="service-list service-list--content wrapper">
    <h2>Content Creation</h2>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-lottie="/animations/social-media-content.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
      >
      </div>
      <h3><a href="/services/social-media-content/">Social Media Content</a></h3>
      <p>Increase your brand’s reach with social media content that people will want to share and engage with.</p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/web-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/website-development/">Website Design & Development</a></h3>
      <p>
        Our web design and development team can help you increase sales by providing optimized sites that convert
        visitors into lifelong customers.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/ecommerce.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/ecommerce/">Ecommerce</a></h3>
      <p>
        Selling products and services online is easier for customers to purchase from anywhere at any time (if done
        correctly). This convenience and accessibility leads to increased sales and customer satisfaction.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/copywriting.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/copywriting/">Copywriting</a></h3>
      <p>
        Copywriting is about taking a message, a strategy, and a target audience and curating an output that meets yours
        goals while speaking in terms your audience can connect with.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/branding.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/branding/">Branding</a></h3>
      <p>
        Branding is more than a logo and making things look good. Your branding should bring clarity to what you do and
        why.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/motion-graphics.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/motion-graphics/">Motion Graphics</a></h3>
      <p>Show off your story with eye-catching motion graphics that will make it pop on screen.</p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/content-creation.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/applications/">Applications</a></h3>
      <p>
        We’ll use the latest technologies, from PHP to Node.js, and we’ll help you choose the best option for your
        business needs. We’ll work with you to develop a system that is easy to use and maintain—and that works on any
        device.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/photography.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/photography/">Photography</a></h3>
      <p>
        Breathe life into your website, social media, or marketing efforts. With strategic photography planning, you can
        tell an entire story about your business with a single frame.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/videography.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/video/">Video</a></h3>
      <p>
        If you are looking to increase your sales, grow brand awareness, or even just educate and inform your audience,
        video can put your business in a fantastic position for growth.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/infographics.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/infographics/">Infographics</a></h3>
      <p>
        Infographics are a great way to make your brand story come alive. They’re captivating and engaging because they
        combine text with images in creative ways that hook readers of all ages.
      </p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/print-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/print-design/">Print Design</a></h3>
      <p>Create a custom design that captures your audience’s attention with our wide variety of print options.</p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/apparel-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/apparel-design/">Apparel Design</a></h3>
      <p>Communicate your brand identity through clothing in an attractive and memorable way.</p>
    </div>
    <div class="service-list-item">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-list-item-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/digital-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
        class="service-list-item-icon"
      >
      </div>
      <h3><a href="/services/digital-design/">Digital Design</a></h3>
      <p>
        Create a custom design that captures your audience’s attention with our wide variety of designs created for
        digital devices.
      </p>
    </div>
  </div>
</Layout>

<style lang="scss">
  .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1000px;
    margin-bottom: 8rem;
    @media (max-width: 767px) {
      margin-bottom: 4rem;
      gap: 2rem;
    }
    h2 {
      flex: 1 1 100%;
      text-align: center;
      max-width: none;
      margin-top: 8rem;
      margin-bottom: 3rem;
      @media (max-width: 767px) {
        margin-top: 5rem;
        margin-bottom: 1rem;
      }
    }
    &-item {
      flex: 1 1 400px;
      position: relative;
      p {
        max-width: 50ch;
      }
      &-square {
        width: 103px;
        height: 103px;
        left: 0;
        z-index: -1;
        top: 0;
        background: var(--light-teal);
      }
      &-icon {
        display: block;
        position: absolute;
        top: 0;
        max-width: 120px;
        max-height: 120px;
      }
    }
  }
  .service-intro {
    background: var(--lighter-teal);
    padding: 8rem 0;
    @media (max-width: 767px) {
      padding-bottom: 4rem;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem 3rem;
    }
    .h4 {
      flex: 1 1 100%;
      color: var(--purple);
      max-width: 52ch;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 5rem;
    }
    &-media {
      flex: 1 1 400px;
    }
    &-text {
      flex: 1 1 400px;
      p {
        max-width: none;
      }
    }
  }
</style>
