---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import RecentWork from '../../components/RecentWork.astro';
import Testimonials from '../../components/Testimonials.astro';
import countries from 'countrycitystatejson';
import slugify from 'slugify';

export async function getStaticPaths() {
	const usa = countries.getCountryByShort('US');
	const florida = usa.states['Florida'];

	return florida.map((city) => {
		const slug = slugify(city.name).toLowerCase();
		return {
			params: { city: slug },
			props: { title: city.name }
		};
	});
}

const { title } = Astro.props;
---

<Layout title={title} description="testing">
	<SimpleHero
		tagline="Web Design Agency serving:"
		title={title}
		description="We’re a team of designers, developers, and marketers who love to take your ideas and bring them to life based in the heart of Florida."
	/>
	<div class="wrapper wrapper--narrow dark" style="margin-bottom: 150px;">
		<h2 class="h3">Why a local agency is important</h2>
		<p>
			As a local web design agency in Florida, we understand the unique needs of businesses in the area. We are familiar
			with the local market, the competition, and the trends that are impacting businesses in the area. We also have a
			deep understanding of the local culture and how to best reach the target audience. We are able to provide a
			personalized approach to web design that is tailored to the specific needs of the business. We are also able to
			provide a more cost-effective solution than larger, out-of-state agencies. By working with a local web design
			agency, businesses in Florida can benefit from our expertise and experience in the local market.
		</p>
	</div>
	<RecentWork />
	<Testimonials />
</Layout>
