---
import Layout from '../../Base.astro';
import countries from 'countrycitystatejson';
import slugify from 'slugify';

const usa = countries.getCountryByShort('US');
const florida = usa.states['Florida'];
---

<Layout title="Florida's Web Design Agency">
	<div class="wrapper wrapper--narrow" style="margin-bottom: 150px;">
		<h1>Florida's Web Design Agency 👋</h1>
		<h2 class="h4" style="margin: 3rem 0;" data-lg-reveal="fade">Cities we do web design work in <small>(hint: it's all of them 🤓)</small></h2>
		<ul class="columns" style="margin-top: 2rem;">
			{
				florida.map((city) => (
					<li>
						<a href=`/florida/${slugify(city.name, { lower: true, strict: true })}/`>{city.name.replace("''","'")}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
