---
import Layout from '../../../Base.astro';
import SimpleHero from '../../../components/SimpleHero.astro';
import { Img } from 'astro-imagetools/components';
---

<Layout title='Ongoing Support'>
	<SimpleHero
		tagline='Services'
		title='Ongoing <br>Support'
		description='The digital world is evolving at a rate much faster than most can keep up. We work in the digital realm everyday, so we can make sure that your assets are up to date and remain safe and relevant. Just need services on a regular basis? We do that too.'
		mediaFront='images/services/ongoing-support-front.png'
		mediaMiddle='images/services/ongoing-support-middle.png'
		mediaBack='images/services/ongoing-support-back.jpg'
	/>
	<div class='service-intro service-intro--marketing'>
		<div class='wrapper'>
			<p class='h4'>
				The journey has not ended… it is just beginning! Keep your <em>digital assets</em> in shipshape with a helping hand
				from Kelp.
			</p>
			<div class='service-intro-media' data-lg-parallax='child'>
				<div>
					<Img
						src='./images/services/ongoing-support-office-photo.jpg'
						alt='developer debugging performance issues on a website'
					/>
				</div>
			</div>
			<div class='service-intro-text'>
				<p>
					From regularly created content via an ongoing retainer, fixing Google Search Console errors, managing servers,
					and keeping things functioning smoothly with regular website improvements. Our team will <em
						>support your brand</em
					> and keep everything in ship-shape.
				</p>
			</div>
		</div>
	</div>
	<div class='service-list services-list--marketing wrapper'>
		<h2>Ongoing Support</h2>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<svg
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				xmlns='http://www.w3.org/2000/svg'
				width='104'
				height='83.191'
				viewBox='0 0 104 83.191'
			>
				<g id='Group_167' data-name='Group 167' transform='translate(-44.557 -40.166)'>
					<path
						id='Path_229'
						data-name='Path 229'
						d='M2.4,0H97.6A2.4,2.4,0,0,1,100,2.4V76.79a2.4,2.4,0,0,1-2.4,2.4H2.4A2.4,2.4,0,0,1,0,76.79V2.4A2.4,2.4,0,0,1,2.4,0Z'
						transform='translate(46.557 42.166)'
						fill='#fff'></path>
					<path
						id='Path_229_-_Outline'
						data-name='Path 229 - Outline'
						d='M2.4-2H97.6A4.407,4.407,0,0,1,102,2.4V76.79a4.407,4.407,0,0,1-4.4,4.4H2.4A4.407,4.407,0,0,1-2,76.79V2.4A4.407,4.407,0,0,1,2.4-2ZM97.6,77.191a.4.4,0,0,0,.4-.4V2.4a.4.4,0,0,0-.4-.4H2.4a.4.4,0,0,0-.4.4V76.79a.4.4,0,0,0,.4.4Z'
						transform='translate(46.557 42.166)'
						fill='#0f1722'></path>
					<rect
						id='Rectangle_81'
						data-name='Rectangle 81'
						width='99.453'
						height='18.391'
						transform='translate(46.83 41.772)'
						fill='#0f1722'></rect>
					<path
						id='Path_221'
						data-name='Path 221'
						d='M58.754,138.652V87.189a2.152,2.152,0,0,1,2.152-2.152h81.5a2.152,2.152,0,0,1,2.152,2.152v51.463Z'
						transform='translate(-5.378 -19.076)'
						fill='#d7ddda'></path>
					<circle
						id='Ellipse_42'
						data-name='Ellipse 42'
						cx='2.299'
						cy='2.299'
						r='2.299'
						transform='translate(54.603 48.668)'
						fill='#f4513b'></circle>
					<path
						id='Path_222'
						data-name='Path 222'
						d='M79.589,53.9l-3.164,4.773h6.327Z'
						transform='translate(-13.169 -5.347)'
						fill='#f5f6f8'></path>
					<rect
						id='Rectangle_82'
						data-name='Rectangle 82'
						width='4.773'
						height='4.773'
						transform='translate(73.954 48.751)'
						fill='#f5f6f8'></rect>
					<g id='Group_166' data-name='Group 166' transform='translate(74.989 70.552)'>
						<path
							id='Path_223'
							data-name='Path 223'
							d='M134.985,119.2l0,0a1.693,1.693,0,0,0-1.12-1.223l-4.353-1.451,3.268-6.534a1.7,1.7,0,0,0-2.731-1.965l-10.361,10.361a1.7,1.7,0,0,0,.665,2.822l4.353,1.45-3.265,6.534a1.7,1.7,0,0,0,2.728,1.965L134.531,120.8A1.7,1.7,0,0,0,134.985,119.2Z'
							transform='translate(-107.012 -99.543)'
							fill='#0f1722'></path>
						<path
							id='Path_224'
							data-name='Path 224'
							d='M134.689,134.586a2.162,2.162,0,0,0-1.57-.593l-4.479.278a2.115,2.115,0,0,0-1.266,3.7,1.879,1.879,0,0,0,1.446.531,15.828,15.828,0,0,1-27.169-11.069,2.121,2.121,0,0,0-4.241,0,20.029,20.029,0,0,0,33.975,14.444,2.12,2.12,0,0,0,3.98-1.019v-4.753A2.119,2.119,0,0,0,134.689,134.586Z'
							transform='translate(-97.41 -107.387)'
							fill='#f4513b'></path>
						<path
							id='Path_225'
							data-name='Path 225'
							d='M102.057,106.195a2.162,2.162,0,0,0,1.57.593l4.479-.278a2.115,2.115,0,0,0,1.266-3.7,1.882,1.882,0,0,0-1.446-.531,15.828,15.828,0,0,1,27.169,11.07,2.12,2.12,0,1,0,4.241,0A20.029,20.029,0,0,0,105.362,98.9a2.12,2.12,0,0,0-3.98,1.019v4.753A2.117,2.117,0,0,0,102.057,106.195Z'
							transform='translate(-99.161 -93.248)'
							fill='#f4513b'></path>
					</g>
				</g>
			</svg>
			<h3>Ongoing Retainers</h3>
			<p>
				Under an ongoing retainer relationship, our customers get regular access to Kelp’s services at a more
				competitive price than a standard project. In an ongoing retainer relationship, Kelp really becomes an extension
				of your team.
			</p>
		</div>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<svg
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				xmlns='http://www.w3.org/2000/svg'
				width='98.9'
				height='51.12'
			>
				<g data-name='Group 170'>
					<path
						fill='#f4513b'
						d='M10.44 19.09c.22 0 .43 0 .65.02a14.76 14.76 0 1 1 28.34-8.3 10.44 10.44 0 0 1 17.49 7.7c0 .28-.01.56-.04.83a10.44 10.44 0 0 1-2.3 20.62H10.44a10.44 10.44 0 1 1 0-20.87Z'
						data-name='Path 230'></path>
					<g data-name='Group 169'>
						<g data-name='Group 168'>
							<path
								fill='#fff'
								d='M89.14 29.39c-.17 0-.34 0-.5.02A11.38 11.38 0 1 0 66.79 23a8.05 8.05 0 0 0-13.49 5.94c0 .21.01.43.03.64a8.05 8.05 0 0 0 1.77 15.9h34.04a8.05 8.05 0 1 0 0-16.1Z'
								data-name='Path 226'></path>
							<path
								fill='#0f1722'
								d='M89.14 47.2H55.1a9.76 9.76 0 0 1-3.5-18.88 9.76 9.76 0 0 1 14.37-7.97 13.1 13.1 0 0 1 24.76 7.46 9.76 9.76 0 0 1-1.6 19.39Zm-27.8-24.6a6.35 6.35 0 0 0-6.33 6.35c0 .17 0 .34.02.5l.12 1.48-1.45.33a6.34 6.34 0 0 0 1.4 12.52h34.04a6.34 6.34 0 0 0 0-12.68c-.14 0-.27 0-.4.02l-2.47.15.73-2.36a9.67 9.67 0 1 0-18.57-5.44l-.74 2.7-2.06-1.9a6.32 6.32 0 0 0-4.28-1.66Z'
								data-name='Path 227'></path>
						</g>
						<path
							fill='#0f1722'
							d='m61.24 35.02-.5.02a11.38 11.38 0 1 0-21.85-6.4 8.05 8.05 0 0 0-13.49 5.94c0 .22.01.43.03.64a8.05 8.05 0 0 0 1.77 15.9h34.04a8.05 8.05 0 1 0 0-16.1Z'
							data-name='Path 228'></path>
					</g>
				</g>
			</svg>
			<h3>Web Hosting</h3>
			<p>
				Web hosting services that are affordable, reliable and fit the need. Whether it's a dynamic application, static
				website, or CMS powered site, we partner with the best web hosts in the business.
			</p>
		</div>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<svg
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				xmlns='http://www.w3.org/2000/svg'
				width='102.74'
				height='108.98'
			>
				<g data-name='Group 180'>
					<g data-name='Group 178'>
						<g data-name='Group 175'>
							<path
								fill='#fff'
								stroke='rgba(0,0,0,0)'
								stroke-miterlimit='10'
								d='M29.08 51.83a23.48 23.48 0 0 1-6.04-.79 2.4 2.4 0 0 1-1.69-2.19v-3.47a22.37 22.37 0 0 1-3.1-1.8l-3 1.73a2.27 2.27 0 0 1-1.14.3 2.25 2.25 0 0 1-1.6-.66A23.4 23.4 0 0 1 6.46 34.5a2.27 2.27 0 0 1 1.06-2.55l3-1.74a22.82 22.82 0 0 1 0-3.59l-3-1.73a2.27 2.27 0 0 1-1.06-2.55 23.39 23.39 0 0 1 6.05-10.46 2.25 2.25 0 0 1 1.6-.67 2.27 2.27 0 0 1 1.13.3l3 1.73a22.36 22.36 0 0 1 3.1-1.8V7.98a2.27 2.27 0 0 1 1.7-2.2A23.5 23.5 0 0 1 29.06 5a23.53 23.53 0 0 1 6.04.79 2.4 2.4 0 0 1 1.68 2.19v3.46a22.36 22.36 0 0 1 3.11 1.8l3-1.73a2.26 2.26 0 0 1 1.13-.3 2.25 2.25 0 0 1 1.6.67 23.4 23.4 0 0 1 6.05 10.46 2.27 2.27 0 0 1-1.06 2.55l-3 1.74a18.81 18.81 0 0 1 0 3.58l3 1.74a2.27 2.27 0 0 1 1.06 2.55 23.4 23.4 0 0 1-6.05 10.46 2.25 2.25 0 0 1-1.6.67 2.27 2.27 0 0 1-1.13-.3l-3-1.74a22.37 22.37 0 0 1-3.1 1.8v3.47a2.27 2.27 0 0 1-1.7 2.2 23.45 23.45 0 0 1-6.02.77Zm-.2-28.33a5 5 0 0 0-5 5 5 5 0 0 0 5 5 5 5 0 0 0 5-5 5 5 0 0 0-5-5Z'
								data-name='Subtraction 1'></path>
							<g data-name='Group 174'>
								<g data-name='Group 171'>
									<path
										fill='#0d1726'
										d='M70.49 63.73a17.42 17.42 0 0 1-3.85 6.66.84.84 0 0 1-1.05.16l-3-1.73a13.73 13.73 0 0 1-4.28 2.47v3.46a.84.84 0 0 1-.66.83 17.7 17.7 0 0 1-7.69 0 .84.84 0 0 1-.66-.83V71.3a13.3 13.3 0 0 1-4.28-2.47l-3 1.73a.85.85 0 0 1-1.04-.16 17.52 17.52 0 0 1-3.85-6.66.85.85 0 0 1 .39-.99l3-1.73a13.57 13.57 0 0 1 0-4.94l-3-1.74a.84.84 0 0 1-.39-.98 17.43 17.43 0 0 1 3.85-6.66.84.84 0 0 1 1.04-.16l3 1.73a13.73 13.73 0 0 1 4.28-2.47v-3.47a.84.84 0 0 1 .66-.82 17.71 17.71 0 0 1 7.69 0 .84.84 0 0 1 .66.82v3.46a13.3 13.3 0 0 1 4.28 2.47l3-1.73a.85.85 0 0 1 1.04.16 17.54 17.54 0 0 1 3.85 6.66.85.85 0 0 1-.39.99l-3 1.73a13.56 13.56 0 0 1 0 4.94l3 1.73a.87.87 0 0 1 .4 1Zm-11.05-5.2a5.63 5.63 0 1 0-5.64 5.63 5.64 5.64 0 0 0 5.63-5.63Z'
										data-name='Path 231'></path>
								</g>
								<g data-name='Group 172'>
									<path
										fill='#f4513b'
										d='M92.09 38.18a17.43 17.43 0 0 1-3.85 6.66.84.84 0 0 1-1.05.17l-3-1.74a13.73 13.73 0 0 1-4.28 2.47v3.47a.84.84 0 0 1-.66.82 17.7 17.7 0 0 1-7.69 0 .84.84 0 0 1-.66-.82v-3.47a13.3 13.3 0 0 1-4.28-2.47l-3 1.74a.85.85 0 0 1-1.04-.17 17.53 17.53 0 0 1-3.85-6.66.85.85 0 0 1 .39-.98l3-1.73a13.53 13.53 0 0 1 0-4.95l-3-1.73a.84.84 0 0 1-.4-.99 17.42 17.42 0 0 1 3.86-6.66.84.84 0 0 1 1.04-.16l3 1.73a13.74 13.74 0 0 1 4.27-2.47v-3.46a.84.84 0 0 1 .67-.82 17.7 17.7 0 0 1 7.69 0 .84.84 0 0 1 .66.82v3.46a13.29 13.29 0 0 1 4.28 2.47l3-1.73a.85.85 0 0 1 1.04.16 17.54 17.54 0 0 1 3.85 6.66.85.85 0 0 1-.39.98l-3 1.74a13.57 13.57 0 0 1 0 4.94l3 1.73a.87.87 0 0 1 .4 1Zm-11.06-5.2a5.63 5.63 0 1 0-5.63 5.64 5.64 5.64 0 0 0 5.63-5.63Z'
										data-name='Path 232'></path>
								</g>
								<g data-name='Group 173'>
									<path
										fill='#0d1726'
										d='m47.57 30.17 3 1.74a2.27 2.27 0 0 1 1.06 2.55 23.37 23.37 0 0 1-6.05 10.46 2.27 2.27 0 0 1-2.73.36l-3-1.73a22.25 22.25 0 0 1-3.1 1.8v3.47a2.27 2.27 0 0 1-1.7 2.19 23.56 23.56 0 0 1-12.07 0 2.39 2.39 0 0 1-1.69-2.2v-3.46a22.3 22.3 0 0 1-3.1-1.8l-3 1.73a2.27 2.27 0 0 1-2.74-.36A23.38 23.38 0 0 1 6.4 34.46a2.27 2.27 0 0 1 1.06-2.55l3-1.74a22.3 22.3 0 0 1 0-3.59l-3-1.73a2.27 2.27 0 0 1-1.06-2.56 23.39 23.39 0 0 1 6.05-10.46 2.27 2.27 0 0 1 2.74-.36l3 1.74a22.22 22.22 0 0 1 3.1-1.8V7.95a2.27 2.27 0 0 1 1.69-2.2 23.56 23.56 0 0 1 12.08 0 2.39 2.39 0 0 1 1.68 2.19v3.47a22.25 22.25 0 0 1 3.1 1.8l3-1.74a2.27 2.27 0 0 1 2.74.36 23.38 23.38 0 0 1 6.05 10.46 2.27 2.27 0 0 1-1.06 2.56l-3 1.73a18.54 18.54 0 0 1 0 3.6Zm-4.97-5.95 4.13-2.39a22.56 22.56 0 0 0-3.2-5.52L39.4 18.7c-3.01-2.59-3.46-2.84-7.19-4.16V9.76a18.98 18.98 0 0 0-6.38 0v4.78c-3.73 1.32-4.17 1.57-7.2 4.16l-4.13-2.4a18.89 18.89 0 0 0-3.2 5.54l4.14 2.38c-.72 3.9-.72 4.42 0 8.31l-4.14 2.4a22.62 22.62 0 0 0 3.2 5.52l4.14-2.4c3.02 2.6 3.46 2.85 7.19 4.17v4.77a19.03 19.03 0 0 0 6.38 0v-4.77c3.73-1.32 4.18-1.57 7.2-4.16l4.13 2.39a22.57 22.57 0 0 0 3.2-5.53l-4.13-2.39c.72-3.9.72-4.4 0-8.3Zm-4.52 4.16a9.06 9.06 0 1 1-9.06-9.07 9.07 9.07 0 0 1 9.06 9.07Zm-4.53 0a4.53 4.53 0 1 0-4.53 4.53 4.54 4.54 0 0 0 4.53-4.53Z'
										data-name='Path 233'></path>
								</g>
							</g>
							<path
								fill='#0d1726'
								d='M57.11 15.85a2.65 2.65 0 0 0 1.92.72l5.49-.34a2.59 2.59 0 0 0 1.55-4.53 2.3 2.3 0 0 0-1.77-.65A19.37 19.37 0 0 1 97.55 24.6a2.6 2.6 0 1 0 5.2 0 24.52 24.52 0 0 0-41.6-17.68 2.6 2.6 0 0 0-4.86 1.25v5.81a2.6 2.6 0 0 0 .82 1.87Z'
								data-name='Path 234'></path>
						</g>
					</g>
					<g data-name='Group 179'>
						<g fill='#fff' stroke-miterlimit='10' data-name='Path 236'>
							<path
								d='M7.3 80.6a3.88 3.88 0 0 1-2.2-4.71l3.3-10.86a3.87 3.87 0 0 1 4.86-2.6l5.6 1.7 5.9-2.4a15.98 15.98 0 0 1 10.62-.5l18.1 5.5.6.22a5.82 5.82 0 0 1 2.91 7.9 5.64 5.64 0 0 1-3.05 2.76c-.77.3-1.58.43-2.4.4l2.98.9c1.22.38 2.53.32 3.68-.14l13-5.2c1.5-.6 3.2-.58 4.67.04a5.55 5.55 0 0 1 2.61 2.26 5.8 5.8 0 0 1-2.8 8.38l-21.27 8.5c-2 .8-4.26.9-6.33.26L7.7 80.75a3.92 3.92 0 0 1-.4-.14Z'
							></path>
							<path
								fill='#0d1726'
								d='M75.09 75.45a4.14 4.14 0 0 0-3.14-.01l-13 5.18c-1.6.65-3.36.71-5 .21l-13.4-4.06a1.9 1.9 0 0 1-1.26-2.36 1.9 1.9 0 0 1 2.36-1.26l8.86 2.69c1.8.54 3.85-.18 4.69-1.87a3.79 3.79 0 0 0-2.3-5.32l-18.1-5.5a13.92 13.92 0 0 0-9.3.43l-6.55 2.67-6.27-1.9c-1-.3-2.06.26-2.36 1.26l-3.3 10.86a1.9 1.9 0 0 0 1.26 2.36L48.66 91.1c1.64.5 3.4.43 5-.21l21.28-8.5a3.78 3.78 0 0 0 1.83-5.49c-.4-.67-1-1.16-1.68-1.45m1.56-3.68c1.5.63 2.73 1.7 3.55 3.07a7.8 7.8 0 0 1-3.78 11.27l-21.27 8.5a11.63 11.63 0 0 1-7.65.32L7.12 82.66a5.93 5.93 0 0 1-3.62-3.12 5.87 5.87 0 0 1-.31-4.23l3.3-10.86a5.86 5.86 0 0 1 7.35-3.93L18.75 62 24 59.88a17.98 17.98 0 0 1 11.96-.56l18.11 5.5a7.83 7.83 0 0 1 4.72 10.92c-.14.29-.3.57-.48.83l12.15-4.85a8.16 8.16 0 0 1 6.2.05Z'
							></path>
						</g>
					</g>
				</g>
			</svg>
			<h3>Website Support</h3>
			<p>
				Updating a website and it's underlying technologies regularly ensures that it is running smoothly and error-free
				and most accurately represents your current brand.
			</p>
		</div>
	</div>
</Layout>
