---
import Base from '../../../Base.astro';
import SimpleHero from '../../../components/SimpleHero.astro';
import { Img } from 'astro-imagetools/components';
---

<Base title='Ongoing Support'>
	<SimpleHero
		tagline='Services'
		title='Ongoing <br>Support'
		description='The digital world is evolving at a rate much faster than most can keep up. We work in the digital realm everyday, so we can make sure that your assets are up to date and remain safe and relevant. Just need services on a regular basis? We do that too.'
		mediaFront='images/services/ongoing-support-front.png'
		mediaMiddle='images/services/ongoing-support-middle.png'
		mediaBack='images/services/ongoing-support-back.jpg'
	/>
	<div class='service-intro service-intro--marketing'>
		<div class='wrapper'>
			<p class='h4'>
				The journey has not ended… it is just beginning! Keep your <em>digital assets</em> in shipshape with a helping hand
				from Kelp.
			</p>
			<div class='service-intro-media' data-lg-parallax='child'>
				<div>
					<Img
						src='./images/services/ongoing-support-office-photo.jpg'
						alt='developer debugging performance issues on a website'
					/>
				</div>
			</div>
			<div class='service-intro-text'>
				<p>
					From regularly created content via an ongoing retainer, fixing Google Search Console errors, managing servers,
					and keeping things functioning smoothly with regular website improvements. Our team will
					<em>support your brand</em>
					and keep everything in ship-shape.
				</p>
			</div>
		</div>
	</div>
	<div class='service-list services-list--marketing wrapper'>
		<h2>Ongoing Support</h2>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<div
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				data-lg-lottie='/animations/ongoing-retainers.json'
				data-lg-lottie-autoplay='true'
				data-lg-lottie-loop='true'
				data-lg-lottie-lazy='true'
				class='service-list-item-icon'
			>
			</div>
			<h3><a href='/services/ongoing-retainers/'>Ongoing Retainers</a></h3>
			<p>
				Under an ongoing retainer relationship, our customers get regular access to Kelp’s services at a more
				competitive price than a standard project. In an ongoing retainer relationship, Kelp really becomes an extension
				of your team.
			</p>
		</div>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<div
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				data-lg-lottie='/animations/web-hosting.json'
				data-lg-lottie-autoplay='true'
				data-lg-lottie-loop='true'
				data-lg-lottie-lazy='true'
				class='service-list-item-icon'
			>
			</div>
			<h3>
				<a href='/services/web-hosting/'>Web Hosting</a>
			</h3>
			<p>
				Web hosting services that are affordable, reliable and fit the need. Whether it's a dynamic application, static
				website, or CMS powered site, we partner with the best web hosts in the business.
			</p>
		</div>
		<div class='service-list-item'>
			<div data-lg-parallax data-lg-parallax-amplitude='0.2'>
				<div
					class='service-list-item-square'
					style='background-color: var(--light-red)'
					data-lg-reveal='layer-to-right'
				>
				</div>
			</div>
			<div
				data-lg-parallax
				data-lg-parallax-amplitude='0.4'
				data-lg-lottie='/animations/website-support.json'
				data-lg-lottie-autoplay='true'
				data-lg-lottie-loop='true'
				data-lg-lottie-lazy='true'
				class='service-list-item-icon'
			>
			</div>
			<h3><a href='/services/website-support/'>Website Support</a></h3>
			<p>
				Updating a website and it's underlying technologies regularly ensures that it is running smoothly and error-free
				and most accurately represents your current brand.
			</p>
		</div>
	</div>
</Base>
