---
// Fetch your about page content from the WordPress API

import Layout from "../../Base.astro";

export async function getStaticPaths() {
	const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/posts?per_page=100`);
	const posts = await response.json();
	return posts.map((post) => {
		return {
			params: { slug: post.slug },
			props: { title: post.title.rendered, content: post.content.rendered }
		};
	});
}

const { title, content } = Astro.props;
---

<Layout title={title}>
	<article>
		<div class="wrapper">
			<h1 data-splitting data-lg-reveal="fade" data-lg-reveal-stagger="0.1" style="margin: 8rem 0;" set:html={title} />
		</div>
		<div
			data-lg-reveal="fade"
			data-lg-reveal-stagger="0.1"
			style="margin-bottom: 8rem;"
			class="wrapper wrapper--narrow"
			set:html={content}
		/>
	</article>
</Layout>
