---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";
---

<Layout
	title='Apparel Design | Florida T-Shirt Design Company'
	description=`Communicate your brand identity  through clothing in an attractive and memorable way.`
>
	<SimpleHero tagline='Content Creation Services' title='Apparel Design' description="Communicate your brand identity  through clothing in an attractive and memorable way." lottieFile="apparel-design.json"/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why apparel design matters</h2>
			<p>Brands create apparel for their audience to give them clothing that not only appeals to their aesthetic preferences, but also conveys the brand’s values and message. Apparel is a powerful form of communication and brands use it to make a statement about who they are and what they stand for. Clothing can be used to attract new customers and build loyalty with existing ones, while helping to build an emotional connection with their target audience.</p>
			<h2>Applications for apparel design</h2>
			<ul>
				<li>Patches</li>
				<li>Hats</li>
				<li>T-Shirts</li>
				<li>Outerwear</li>
			</ul>
			<h2>How we approach apparel design</h2>
			<p>We combine the latest trends with our clients’ unique brand identity in order to create items of clothing that stand out from the competition and leave a lasting impression. Quality craftsmanship is essential and our team takes great care to ensure that all garments are constructed with care and attention to detail. In addition, we strive to create designs that appeal to the target audience while communicating the brand’s core values and message.</p>
		</div>
		<ServicesRelatedWork tag={67} />
	</div>
	<FeaturedArticles />
</Layout>
