---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";
---

<Layout
	title='Custom Applications | Florida Software Agency'
	description="We’ll use the latest technologies, from PHP to Node.js, and we’ll help you choose the best option for your business needs. We’ll work with you to develop a system that is easy to use and maintain—and that works on any device."
>
	<SimpleHero tagline='Content Creation Services' title='Applications' description="We’ll use the latest technologies, from PHP to Node.js, and we’ll help you choose the best option for your business needs. We’ll work with you to develop a system that is easy to use and maintain—and that works on any device" lottieFile="content-creation.json"/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why custom applications matter</h2>
			<p>
				Custom applications can be tailered to meet extremely specific needs and requirements that you require. Common
				use-cases for custom applications include building intuitive user experiences designed specifically for a niche audience,
				integrations with other business systems, or unique performance requirements such as the ability to work
				offline.
			</p>
			<h2>How we approach custom applications</h2>
			<ol>
				<li>
					<strong>Discovery:</strong> first we work with the you to understand your business needs, goals, and target audience
					for the application.
				</li>
				<li>
					<strong>Design:</strong> next, we'll create wireframes and prototypes of the application to visualize the user
					flow and layout of the application.
				</li>
				<li>
					<strong>Development:</strong> we'll build the application according to the design specifications. This involves
					writing code, integrating with APIs and other systems, and testing the application.
				</li>
				<li>
					<strong>Deployment:</strong> launch the application and make it available to users. This may involve hosting the
					application on a server and/or making it available via app stores.
				</li>
				<li>
					<strong>Maintenance:</strong> ongoing support and maintenance for the application, including bug fixes, security
					updates, and new feature development as needed.
				</li>
			</ol>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={75} />
	</div>
	<FeaturedArticles />
</Layout>
