---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";
---

<Layout
	title='Branding services | Florida Branding Agency'
	description=`Branding is more than a logo and making things look good. Your branding should bring clarity to what you do and why.`
>
	<SimpleHero tagline='Content Creation Services' title='Branding' description="Branding is more than a logo and making things look good. Your branding should bring clarity to what you do and why." lottieFile="branding.json"/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why branding matters</h2>
			<p>
				We all have the opportunity to build a brand that lasts. Whether you’re starting out or looking for new ways in which your company can grow, our services will help guide and promote not only what makes YOU unique but also bring attention from consumers who want more of those qualities as well!
			</p>
			<p>In many cases, Branding may reach more people than a business’s product itself. This is because branding can be applied to more than just physical products. Branding is used in every main component of customer contact. From posts on social media, to ads on the radio, to the boxes a product ships in, a brand can make an impact either positive or negative.</p>
			<h2>How we approach branding</h2>
			<p>We offer a strategic and creative perspective to company branding. This involves understanding the target audience and the goals of the brand, and then developing a unique and cohesive brand identity that resonates with that audience. This can include creating the name, logo, brand guidelines, messaging, and visual elements that reflect the brand's personality and positioning. Ultimately, the goal of our branding work is to build awareness, credibility, and loyalty for your business.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork />
	</div>
	<FeaturedArticles />
</Layout>
