---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Copywriting services | Florida Marketing Agency'
	description='Engage people through compelling copywriting that makes your message stick.'
>
	<SimpleHero tagline='Content Creation Services' title='Copywriting' description="Engage people through compelling copywriting that makes your message stick." lottieFile='copywriting.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why copywriting matters</h2>
			<p>
				Copywriting is a fundamental service that enables you to communicate the purpose of your business to your clients. Without effective copy, why should a potential customer choose your business over another? Effective copy will align with both your brand and audience and should reflect the quality of your products or services. No matter what industry you are in,  copywriting is a channel for customers to understand and engage with your business.
			</p>
			<h2>Applications for copywriting</h2>
			<ul>
				<li>
					Website Pages
					<ul>
						<li>Hero banners</li>
						<li>Product descriptions</li>
						<li>Service descriptions</li>
						<li>About page sections (e.g. Who We Are, What We Do…)</li>
						<li>Section previews</li>
						<li>Case studies</li>
					</ul>
				</li>
				<li>Blog Articles</li>
				<li>
					Ad Campaigns
					<ul>
						<li>Ad headlines</li>
						<li>Ad description copy</li>
					</ul>
				</li>
				<li>Social Media Posts</li>
				<li>
					Physical Marketing Material
					<ul>
						<li>Catalogs</li>
						<li>Brochures</li>
						<li>Postcards</li>
						<li>Posters</li>
						<li>Banners</li>
						<li>Billboards</li>
					</ul>
				</li>
			</ul>
			<h2>How we approach copywriting</h2>
			<p>Our team approaches copywriting by first understanding the application in which it is needed. This is typically established in the discovery phase. Once the application is determined, we will create a content strategy to list and understand the goals of the copy.</p>
			<p>For website projects, we begin with a sitemap. The sitemap visually lays out every page and section that will be implemented on the website. Not only does this determine page flow and navigation, it also represents where copywriting is needed on each page. In addition to the sitemap, we will often include a content interview where we curate questions for the topic authority of an industry to best understand the product or service we’re writing content for.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={70} />
	</div>
	<FeaturedArticles />
</Layout>
