---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Digital Design | Graphic Design Agency from Brooksville Florida'
	description=`Create a custom design that captures your audience’s attention with our wide variety of designs created for digital devices.`
>
	<SimpleHero tagline='Content Creation Services' title='Digital Design' description="Create a custom design that captures your audience’s attention with our wide variety of designs created for digital devices." lottieFile="digital-design.json"/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why digital design matters</h2>
			<p>At the heart of it, digital design is any design made to be interacted with on a digital device. Grab attention, Cultivate meaningful conversions and build customer loyalty.</p>
			<h2>Applications for digital design</h2>
			<p>Digital design is a vast category encompassing a wide variety of digital interfaces, each with their own uses.
				including:</p>
			<ul>
				<li>Web design</li>
				<li>Landing page design</li>
				<li>App design</li>
				<li>Infographic design</li>
				<li>Email design</li>
			</ul>
			<h2>How we approach digital design</h2>
			<p>We believe that by focusing on usability and creating an engaging user journey, we can provide a memorable digital experience for our clients. Our approach involves staying up to date on the latest technologies and trends in order to create modern and intuitive interfaces.</p>
		</div>
		<ServicesRelatedWork tag={74} />
	</div>
	<FeaturedArticles />
</Layout>
