---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Ecommerce services | Florida Digital Agency'
	description="Selling products and services online is easier for customers to purchase from anywhere at any time (if done correctly). This convenience and accessibility leads to increased sales and customer satisfaction."
>
	<SimpleHero tagline='Content Creation Services' title='Ecommerce' description="Selling products and services online is easier for customers to purchase from anywhere at any time (if it's done correctly). This convenience and accessibility leads to increased sales and customer satisfaction." lottieFile="ecommerce.json"/>
		<div class="wrapper wrapper--narrow" style="padding-bottom: 100px; text-align: center;">
			We are proud to be certified partners with both <a href="https://woocommerce.com/development-services/kelp-creative-agency/232621912/">WooCommerce</a> & Shopify.
		</div>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why ecommerce websites matter</h2>
			<p>
				Ecommerce websites play a vital role in today's economy by providing businesses with a platform to sell their products and services, and by making it more convenient for customers to shop. When you purchase online it can either be extremely easy and convenient experience or it can be an aggravating experience if it's not done right.
			</p>
			<h2>How we approach ecommerce websites</h2>
			<ol>
				<li>
					<strong>Discovery:</strong> first we work with the you to understand your business needs, goals, and target audience.
				</li>
				<li>
					<strong>Design:</strong> next, we'll create wireframes and prototypes of the site to visualize the user
					flow and layout.
				</li>
				<li>
					<strong>Development:</strong> we'll build the website according to the design specifications. This involves
					writing code, integrating with APIs and other systems, setting up a payment gateway, and testing the entire order process.
				</li>
				<li>
					<strong>Deployment:</strong> and finally we'll launch the site and make it available to users. This involves setting up the host, migrating any existing data from the old website, and making DNS changes.
				</li>
			</ol>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={84} />
	</div>
	<FeaturedArticles />
</Layout>
