---
import Layout from "../../Base.astro";
import SimpleHero from "../../components/SimpleHero.astro";
import Services from "../../components/Services.astro";
---

<Layout title='Kelps Services' darkHeader='true'>
	<article>
		<SimpleHero
			title="What <br><span style='margin-left: 1em;'>We Do</span>"
			description='We are a diverse team of experts who are well-versed in various digital realms, with a wealth of experience working with different industries and businesses. We work great with marketing managers, business owners, and startups looking to take their business to the next level.'
			dark='true'
		/>
		<Services />
	</article>
</Layout>
