---
import Layout from "../../Base.astro";
import SimpleHero from "../../components/SimpleHero.astro";
import Services from "../../components/Services.astro";
---

<Layout title='Kelps Services' darkHeader='true'>
	<article>
		<SimpleHero
			title="What <br><span style='margin-left: 1em;'>We Do</span>"
			description='The proof is in the pudding. It’s one thing to have a good strategy, but it takes special talent to create excellent content to match. Take a look at some of our recent work below.'
			dark='true'
		/>
		<Services />
	</article>
</Layout>
