---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Ongoing Retainers'
	description='Under an ongoing retainer relationship, our customers get regular access to Kelp’s services at a more competitive price  than a standard project. In an ongoing retainer relationship, Kelp really becomes an extension of your team.'
>
	<SimpleHero tagline='Ongoing Support Services' title='Ongoing Retainers' description="Under an ongoing retainer relationship, our customers get regular access to Kelp’s services at a more competitive price  than a standard project. In an ongoing retainer relationship, Kelp really becomes an extension of your team." lottieFile='ongoing-retainers.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Your options</h2>
			<p>Different relationships suit some businesses better, this is why we offer a variety of partnership structures to help you get stuff done.</p>
			<h3 class="h6">Monthly Retainer</h3>
			<p>At the beginning of each month, Kelp is assigned a set number of production hours to accomplish the agreed upon tasks. This retainer requires a bit more planning up front but is oftentimes an easier relationship to manage for clients that aren’t working with immediate deadlines. A Monthly Retainer works great for businesses who have their goals and strategies outlined and planned.</p>
			<h3 class="h6">Weekly Retainer</h3>
			<p>These retainers are treated as weekly sprints where each week has a set number of production hours, the tasks are assigned at the beginning of each week, along with the time allotted per task. In a weekly retainer, the Kelp team meets with you more regularly to discuss task priority and align our team with yours. This retainer is ideal for workloads that need constant attention and have very tight deadlines</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={80} />
	</div>
	<FeaturedArticles />
</Layout>
