---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Print Design | Florida Design Agency'
	description='Create a custom design that captures your audience’s attention with our wide variety of print options.'
>
	<SimpleHero tagline='Content Creation Services' title='Print Design' description="Create a custom design that captures your audience’s attention with our wide variety of print options." lottieFile='print-design.json'/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why print design matters</h2>
			<p>
				Attention-grabbing book covers, eye-catching newspaper ads or noticeable stationery is vital to showcase your brand in a consistent way to deliver the results you want. High-end magazine designs and sophisticated brochures make your organization stand out from the crowd.
			</p>
			<h2>Applications for print design</h2>
			<ul>
				<li>Magazine / newspaper Design</li>
				<li>Book Cover Design</li>
				<li>Brochures and Pamphlet Design</li>
				<li>Poster Design</li>
				<li>Event Collateral</li>
			</ul>
			<h2>How we approach print design</h2>
			<p>It takes a different level of design to create posters, stands, or stationary than it does for digital design. collaboration ensures your print designs are always on brand and properly represent your brand beyond the internet.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={71} />
	</div>
	<FeaturedArticles />
</Layout>
