---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";
---

<Layout
	title='Custom Reporting & Analytics'
	description='Improve your marketing with reporting that provides the most relevant insights.'
>
	<SimpleHero tagline='Digital Marketing Services' title='Reporting' description="Improve your marketing with reporting that provides the most relevant insights." lottieFile='reporting.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why reporting matters</h2>
			<p>Reporting is a key part of marketing, and the insights it provides can be incredibly valuable. By understanding what's working and what isn't, you can make changes to your approach that could result in big improvements.</p>
			<h2>How we approach reporting</h2>
			<p>With our reports, you can make data-driven decisions to improve marketing efforts. We will provide regular updates and recommendations that help identify success benchmarks for your campaigns as well as determine the right course of action based on current results.</p>
			<p>Our services give businesses access not only to their own performance but also those from competitors in order to track progress over time so they know what works best when it comes down to deciding how much budget should go towards certain activities or implementing new ones altogether.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={79} />
	</div>
	<FeaturedArticles />
</Layout>
