---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Social & PPC Campaigns - Florida Marketing Agency'
	description='Increase your impact through paid social campaigns and PPC that amplify your reach and put your content in front of the right people.'
>
	<SimpleHero tagline='Digital Marketing Services' title='Social & PPC' description="Increase your impact through paid social campaigns and PPC that amplify your reach and put your content in front of the right people." lottieFile='social-media-content.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why social & PPC campaigns matter</h2>
			<p>Grow your reach and impact through paid social campaigns that can amplify the number of people who see you content and expidite your business growth. Harness the power of pay-per click (PPC) ads to amplify your reach and product awareness.</p>
			<h2>Platforms we work with</h2>
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Instagram</li>
				<li>LinkedIn</li>
				<li>Google Ads</li>
			</ul>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={86} />
	</div>
	<FeaturedArticles />
</Layout>
