---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Social Media Content - Florida Marketing Agency'
	description='Increase your brand’s reach with social media content that people will want to share and engage with.'
>
	<SimpleHero tagline='Content Creation Services' title='Social Media Content' description="Increase your brand’s reach with social media content that people will want to share and engage with." lottieFile='social-media-content.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why social media content matters</h2>
			<p>If you want to deliver targeted messages through social media, channel-first social content is a great way to do it. This type of content is shareable and tailored for each platform, making it easy to engage with your audience. Plus, optimizing your content for each platform can help increase your brand’s reach.</p>
			<p>Creating quality social content can be time-consuming, especially if you don’t have the right production infrastructure in place. To tell your story consistently, you need to create on-brand content that’s custom-tailored for each platform.</p>
			<h2>Applications for social media content</h2>
			<p>There's no doubt that social media is a powerful communications tool. And, as more platforms emphasize visual content, it's important to consider how this format can be used to achieve your brand goals.</p>
			<p>When it comes to social media, photos and videos can be particularly effective in drawing attention and engagement. If you're looking to reach a wide audience, or if you want to create content that is easily shareable, then visual content is definitely worth considering.</p>
			<p>Of course, not all brands will benefit from using visuals on social media. It really depends on your goals and your audience. If you're not sure whether visual content is right for you, consider these potential applications:</p>
			<ul>
				<li>Infographics</li>
				<li>Data visualizations</li>
				<li>Microcontent</li>
				<li>Motion graphics</li>
				<li>Photography</li>
				<li>Video</li>
			</ul>
			<p>Oftentimes, a healthy mix of content is the key to success on social media.</p>
			<h2>How we approach social media content</h2>
			<p>We take an effective and strategic approach to help you identify the best social media platforms so that your presence can be effortlessly maintained, engagement improved across all channels while reaching more audiences.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={72} />
	</div>
	<FeaturedArticles />
</Layout>
