---
import Base from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";
---

<Base
	title='Full Service Video Agency in Brooksville Florida'
	description='Videos are more engaging than text or still images, and can capture the attention of viewers more effectively!'
>
	<SimpleHero tagline='Content Creation Services' title='Videography' description="If you want to make your business grow, video is an excellent way of doing so. Not only does it allow people in on all the behind-the scenes action but videos can also provide valuable information about products or services which appeals directly towards their needs!" lottieFile='videography.json' />
	<div class="wrapper video-showcase" id="videos">
		<h2 data-lg-reveal="fade">
			We make videos like...
		</h2>
		<figure class="small" data-lg-reveal="layer-to-bottom">
			<video width="540" height="960" playsinline muted loop autoplay poster="/videos/brand-video.jpg">
				<source src="/videos/brand-video.webm" type="video/webm">
				<source src="/videos/brand-video.mp4" type="video/mp4">
			</video>
			<figcaption>Brand Videos</figcaption>
		</figure>
		<figure class="small" data-lg-reveal="layer-to-bottom">
			<video width="540" height="960" playsinline muted loop autoplay poster="/videos/social-media-videos.jpg">
				<source src="/videos/social-media-videos.webm" type="video/webm">
				<source src="/videos/social-media-videos.mp4" type="video/mp4">
			</video>
			<figcaption>Social Media Videos</figcaption>
		</figure>
		<figure class="small" data-lg-reveal="layer-to-bottom">
			<video width="540" height="960" playsinline muted loop autoplay poster="/videos/product-highlight-video.jpg">
				<source src="/videos/product-highlight-video.webm" type="video/webm">
				<source src="/videos/product-highlight-video.mp4" type="video/mp4">
			</video>
			<figcaption>Product Spotlight Videos</figcaption>
		</figure>
		<figure class="wide" data-lg-reveal="layer-to-right">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/doDGeaHVBjQ?controls=0&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<figcaption>Educational videos</figcaption>
		</figure>
		<figure class="wide" data-lg-reveal="layer-to-right">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3Y-kdpw84UA?controls=0&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<figcaption>Client Testimonials</figcaption>
		</figure>
		<figure class="wide" data-lg-reveal="layer-to-right">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/E8XteV68rcA?controls=0&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<figcaption>Commercials</figcaption>
		</figure>
		<figure class="wide" data-lg-reveal="layer-to-right">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uvIOYv2X7HE?controls=0&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<figcaption>Animated Explainers</figcaption>
		</figure>
	</div>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why video matters</h2>
			<p>Videos are more engaging than text or still images, and can capture the attention of viewers more effectively. Videos can be a powerful tool for converting website visitors into customers, as they provide a more immersive and educational experience. Websites with video content tend to rank higher in search engine results, which can help to increase visibility and drive traffic.</p>
			<h2>Applications for video</h2>
			<ul>
				<li>Commercials</li>
				<li>Case studies</li>
				<li>Data visualizations</li>
				<li>Product reviews</li>
				<li>Explainer videos</li>
				<li>Testimonials</li>
				<li>Tutorials</li>
				<li>Promotion</li>
				<li>Sales collateral</li>
				<li>Social media</li>
			</ul>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={69} />
	</div>
	<FeaturedArticles />
</Layout>

<style lang="scss">
	.video-showcase {
		display: flex;
		flex-wrap: wrap;
		gap: 4rem 3rem;
		margin-top: 0rem;
		margin-bottom: 6rem;
		h2 {
			flex: 1 1 350px;
		}
		figure {
			flex: 1 1 250px;
			margin: 0;
			padding: 0.5rem;
			background: var(--light-green);
			border-radius: 1rem;
			text-align: center;
			&:nth-child(2) {
				background: var(--light-teal);
			}
			&:nth-child(3) {
				background: var(--light-red);
			}
			&:nth-child(4) {
				background: var(--light-purple);
			}
			&.small {
				flex-basis: 250px;
			}
			&.wide {
				flex-basis: 500px;
			}
		}
		figcaption {
			margin-top: 0.5rem;
			opacity: 0.5;
			font-weight: bold;
			font-family: var(--sans-serif);
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 13px;
		}
		video {
			border-radius: 0.75rem;
		}
	}
	
	iframe[src^="https://www.youtube"]
	{
		aspect-ratio: 16 / 9;
		width: 100%;
		height: auto;
		border-radius: 0.75rem;
	}
</style>
<script>
	document.addEventListener('astro:page-load', () => {
		const videos = document.querySelectorAll('.video-showcase video');
		videos?.forEach(function (video) {
			video.play();
		});
	});
</script>
