---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Website Support & Maintenance'
	description='Updating a website regularly ensures that it is running smoothly and error-free.'
>
	<SimpleHero tagline='Ongoing Support Services' title='Website Support' description="Updating a website regularly ensures that it is running smoothly and error-free." lottieFile='website-support.json' />
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why website support matters</h2>
			<p>Keeping your website up to date is an important part of ensuring that it's error free and running smoothly. This means making sure all the plugins / dependencies on there are current, fixing any broken links if they exist (that would make life easier for visitors), backing it up regularly, and monitoring Google's search console for any issues.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={82} />
	</div>
	<FeaturedArticles />
</Layout>
