// blog and work archive pages
.archive {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 1300px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 890px) {
		grid-template-columns: 1fr;
	}
	gap: 3rem;
	padding-bottom: 5rem;
	margin-top: 5rem;
	&-sidebar {
		@media (min-width: 891px) {
			grid-row: 1 / span 2;
		}
		padding-top: 2rem;
		svg {
			max-width: 100%;
			height: auto;
		}
		h3 {
			border-top: 2px solid var(--green);
			padding-top: 2rem;
			margin-top: 2rem;
		}
		ul {
			position: sticky;
			top: 2rem;
			list-style: none;
			margin: 0;
			padding: 0;
			a {
				text-decoration: none;
				text-decoration-thickness: 3px;
				&.active {
					color: var(--purple);
				}
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
	&-tease {
		position: relative;
		.media {
			aspect-ratio: 4 / 2.2;
			overflow: hidden;
			display: block;
			picture,
			img {
				height: 100% !important;
				width: 100% !important;
				object-fit: cover;
				max-width: none !important;
			}
		}
		.text {
			a {
				text-decoration: none;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}
			}
			&-meta {
				text-transform: uppercase;
				font-family: var(--sans-serif);
				font-size: 14px;
				line-height: 1.2;
				opacity: 0.5;
				margin-top: 1.5rem;
				span + span {
					border-left: 1px solid;
					margin-left: 0.5rem;
					padding-left: 0.7rem;
				}
			}
		}
		&:first-of-type {
			@media (min-width: 1301px) {
				grid-column: 2 / span 2;
			}
		}
		&:nth-of-type(4n + 1) {
			.lg-reveal--layer-to-right:after {
				background-color: var(--light-purple);
			}
		}
		&:nth-of-type(4n + 2) {
			.lg-reveal--layer-to-right:after {
				background-color: var(--green);
			}
		}
		&:nth-of-type(4n + 3) {
			.lg-reveal--layer-to-right:after {
				background-color: var(--purple);
			}
		}
		&:nth-of-type(4n + 4) {
			.lg-reveal--layer-to-right:after {
				background-color: var(--red);
			}
		}
	}
}

// single blog posts
.single {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem 4rem;
	margin-top: 3rem;
	&-sidebar {
		flex: 1 1 250px;
		margin-top: 8rem;
		margin-bottom: 3rem;
		@media (min-width: 1100px) {
			order: -1;
		}
		&-author {
			display: grid;
			grid-template-columns: 3rem auto;
			align-items: center;
			gap: 0.5rem 1rem;
			h5 {
				margin: 0;
			}
			img {
				border-radius: 1rem;
			}
			p {
				margin: 0.5rem 0 0.5rem 0;
				line-height: 1.2;
				grid-column: span 2;
			}
		}
		&-category {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
			align-items: flex-end;
			margin: 1rem 0;
			border-top: 1px solid;
			border-bottom: 1px solid;
			padding-top: 1rem;
			padding-bottom: 1rem;
			h6 {
				font-size: var(--step-0);
				margin: 0;
			}
			a {
				font-size: var(--step-0);
				line-height: 1;
			}
		}
		&-share {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid;
			padding-bottom: 1rem;
			h6 {
				font-size: var(--step-0);
				margin: 0;
			}
			p {
				margin: 0;
				display: flex;
				gap: 1rem;
			}
		}
		&-related {
			margin-top: 7rem;
			position: sticky;
			top: 3rem;
			h6 {
				width: 100%;
				display: block;
				border-bottom: 1px solid;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
				max-width: none;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li + li {
					border-top: 1px dashed;
					padding-top: 0.75rem;
					margin-top: 0.75rem;
				}
			}
		}
	}
	&-article {
		flex: 1 1 700px;
		min-width: 0;
		h1 {
			margin-bottom: 3rem;
		}
		&-comments {
			img {
				border-radius: 1rem;
			}
			&-item {
				margin: 3rem 0;
				display: grid;
				grid-template-columns: 100px auto;
				gap: 0 2rem;
				@media (max-width: 767px) {
					grid-template-columns: 40px auto;
					gap: 0 1rem;
				}
				align-items: start;
				&-img {
					grid-column: 1;
					grid-row: span 2;
				}
				h4 {
					grid-column: 2;
					margin: 0;
				}
				&-body {
					grid-column: 2;
				}
				&--reply {
					margin-left: 3rem;
					grid-column: span 2;
				}
			}
		}
		&-leave-a-comment {
			margin-top: 4rem;
			margin-bottom: 4rem;
			max-width: 500px !important;
			form {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				margin-top: 2rem;
			}
			label {
				flex: 1 1 200px;
				margin-bottom: 0.5rem;
				display: block;
			}
			button {
				flex: 1 1 100%;
			}
		}
	}
}
