// work archive
.work-archive {
	.tease {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 900px) {
			display: block;
		}
		gap: 6rem;
		margin-bottom: 16rem;
		@media (max-width: 767px) {
			margin-bottom: 7rem;
		}
		.media {
			flex: 1 1 400px;
			text-align: center;
			picture {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.text {
			flex: 1 1 400px;
		}
		&:nth-child(even) {
			.media {
				order: 1;
			}
		}
	}
}

// work single
.work-post {
	h1 {
		margin: 8rem 0 12rem;
	}
	.tags {
		opacity: 0.5;
		margin: -11rem auto 10rem auto;
		a {
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
		&:empty {
			display: none;
		}
	}
	.footer {
		margin-top: 10rem;
	}
}
