[data-lg-parallax] {
	will-change: transform;
}
.lg-cursor {
	&-pointer:before {
		width: 4rem;
		height: 4rem;
		margin: -1rem 0 0 -1rem;
		border: 1px solid var(--light-teal);
		background: none;
		opacity: 0;
	}
	&--hover {
		.lg-cursor-pointer:before {
			border-color: var(--green);
			opacity: 1;
		}
	}
}
.lg-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-teal);
	#kelp {
		width: 200px;
		height: 200px;
	}
}

.lg-reveal--layer:after,
.lg-reveal--layer-to-top:after,
.lg-reveal--layer-to-right:after,
.lg-reveal--layer-to-bottom:after,
.lg-reveal--layer-to-left:after {
	background: var(--light-teal);
}
