.wrapper {
	width: 90%;
	margin: auto;
	max-width: 1400px;
	&--narrow {
		@media (min-width: 768px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}

main {
	padding-top: 7rem;
}

::selection {
	background: var(--green);
}

// blog and work archive pages
.archive {
	&-list {
		margin-top: 10rem;
		article {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@media (max-width: 900px) {
				display: block;
			}
			gap: 6rem;
			margin-bottom: 16rem;
			.media {
				flex: 1 1 calc(60% - 3rem);
				text-align: center;
				picture {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.text {
				flex: 1 1 calc(40% - 3rem);
			}
			&:nth-child(even) {
				.media {
					order: 1;
				}
			}
			&:nth-child(4n + 1) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--light-purple);
				}
			}
			&:nth-child(4n + 2) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--green);
				}
			}
			&:nth-child(4n + 3) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--purple);
				}
			}
			&:nth-child(4n + 4) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--red);
				}
			}
		}
	}
}

// work single
.work-post {
	h1 {
		margin: 8rem 0 12rem;
	}
	.tags {
		opacity: 0.5;
		margin: -11rem auto 10rem auto;
		&:empty {
			display: none;
		}
	}
}

// contact page
.contact-section {
	background: var(--black);
	color: white;
	padding-top: 4rem;
	a {
		color: var(--green);
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
	}
	&-column {
		flex: 1 1 500px;
		h1 {
			margin-bottom: 2rem;
		}
		h2 {
			margin-top: 4rem;
			margin-bottom: 2rem;
		}
		&:first-child {
			flex-basis: 250px;
		}
	}
	#meetings-embed {
		height: 756px;
	}
}

// services pages
.service-intro {
	background: var(--lighter-teal);
	padding: 8rem 0;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem 3rem;
	}
	.h4 {
		flex: 1 1 100%;
		color: var(--purple);
		max-width: 52ch;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 5rem;
	}
	&-media {
		flex: 1 1 400px;
	}
	&-text {
		flex: 1 1 400px;
		margin-top: auto;
		p {
			max-width: none;
		}
	}
}
.service-list {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	max-width: 1000px;
	margin-bottom: 8rem;
	h2 {
		flex: 1 1 100%;
		text-align: center;
		max-width: none;
		margin-top: 8rem;
		margin-bottom: 3rem;
	}
	&-item {
		flex: 1 1 400px;
		position: relative;
		p {
			max-width: 50ch;
		}
		&-square {
			width: 103px;
			height: 103px;
			left: 0;
			z-index: -1;
			top: 0;
			background: var(--light-teal);
		}
		svg {
			display: block;
			position: absolute;
			top: 0.5rem;
			left: 1.5rem;
		}
	}
}

// about page
.team {
	text-align: center;
	margin-bottom: 8rem;
	h2 {
		max-width: none;
		margin: 12rem 0 4rem 0;
	}
	.team-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media (max-width: 1100px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: 800px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 400px) {
			grid-template-columns: 1fr;
		}
		gap: 2rem;
		&-item {
			picture {
				background: var(--light-green);
			}
		}
		h3 {
			margin: 1rem 0 0 0;
		}
		p {
			margin: 0;
		}
	}
}

// single blog posts
.comments {
	&-item {
		margin: 3rem 0;
		display: grid;
		grid-template-columns: 100px auto;
		gap: 0 2rem;
		@media (max-width: 767px) {
			grid-template-columns: 40px auto;
			gap: 0 1rem;
		}
		align-items: start;
		&-img {
			grid-column: 1;
			grid-row: span 2;
		}
		h4 {
			grid-column: 2;
			margin: 0;
		}
		&-body {
			grid-column: 2;
		}
		&--reply {
			margin-left: 3rem;
			grid-column: span 2;
		}
	}
}
