*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

.wrapper {
	width: 90%;
	margin: auto;
	&--narrow {
		@media (min-width: 768px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}

main {
	padding-top: 7rem;
}

::selection {
	background: var(--green);
}

.archive {
	&-list {
		margin-top: 10rem;
		article {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@media (max-width: 900px) {
				display: block;
			}
			gap: 6rem;
			margin-bottom: 16rem;
			.media {
				flex: 1 1 calc(60% - 3rem);
				text-align: center;
				picture {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.text {
				flex: 1 1 calc(40% - 3rem);
			}
			&:nth-child(even) {
				.media {
					order: 1;
				}
			}
			&:nth-child(4n + 1) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--light-purple);
				}
			}
			&:nth-child(4n + 2) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--green);
				}
			}
			&:nth-child(4n + 3) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--purple);
				}
			}
			&:nth-child(4n + 4) {
				.lg-reveal--layer-to-right:after {
					background-color: var(--red);
				}
			}
		}
	}
}
