// we put all component styles here instead of in each component so page transitions will work
.hero {
	position: relative;
	padding-top: 2rem;
	overflow: hidden;
	@media (min-width: 1400px) {
		min-height: 1000px;
		padding-left: 70px;
	}
	.wrapper {
		position: relative;
	}
	.squid-wrapper {
		position: absolute;
		right: -8rem;
		top: -8rem;
		z-index: -1;
		width: 1018px;
		@media (max-width: 1400px) {
			width: 750px;
			top: unset;
			bottom: -5rem;
		}
		@media (max-width: 1100px) {
			width: 500px;
			bottom: -3rem;
		}
		@media (max-width: 600px) {
			width: 350px;
			right: -5rem;
		}
	}
	&-content {
		max-width: 600px;
		h1 {
			margin-bottom: 3rem;
			max-width: 18ch;
		}
		strong {
			font-family: var(--sans-serif);
			font-weight: 600;
			font-size: var(--step-1);
		}
		ul {
			font-family: var(--sans-serif);
			font-weight: 500;
			list-style: none;
			padding: 0;
			margin-bottom: 3rem;
			li + li {
				margin-top: 0.5rem;
			}
		}
	}
	.water {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -2;
	}
	.scroll {
		margin: 2rem 0;
		&-text {
			transform-origin: center;
			transform: rotate(calc(var(--progress) * 100deg));
		}
	}
}

.simple-hero {
	padding: 6rem 0;
	@media (max-width: 767px) {
		padding: 3rem 0 1rem;
	}
	&--dark {
		background: var(--black);
		color: white;
	}
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		@media (max-width: 960px) {
			display: block;
		}
		align-items: center;
		gap: 1rem 4rem;
	}
	&--media {
		@media (max-width: 767px) {
			padding-bottom: 6rem;
		}
		.wrapper {
			grid-template-columns: 1fr 0.9fr;
		}
	}
	&-tagline {
		grid-column: 1;
		margin: 0;
		color: var(--purple);
		font-family: var(--sans-serif);
		font-weight: 600;
	}
	&-h1 {
		grid-column: 1;
	}
	&-description {
		grid-column: 2;
		margin: 0 0 2rem;
		max-width: none;
		.simple-hero--media & {
			grid-column: 1;
		}
	}
	&-media {
		grid-row: 1 / span 3;
		grid-column: 2;
		position: relative;
		aspect-ratio: 1/1;
		overflow: hidden;
		margin-bottom: -12rem;
		> div {
			position: absolute;
			top: 0;
			overflow: hidden;
			&:nth-of-type(1) {
				z-index: 1;
			}
			&:nth-of-type(2) {
				z-index: 2;
			}
			&:nth-of-type(3) {
				z-index: 3;
			}
			img {
				background: none !important;
			}
		}
	}
}

.how-we-work {
	padding: 6rem 0;
	@media (max-width: 767px) {
		padding: 3rem 0;
	}
	background: var(--black);
	color: white;
	.lg-reveal--layer:after,
	.lg-reveal--layer-to-top:after,
	.lg-reveal--layer-to-right:after,
	.lg-reveal--layer-to-bottom:after,
	.lg-reveal--layer-to-left:after {
		background-color: var(--purple);
	}
	a {
		color: white;
	}
	.wrapper {
		display: grid;
		gap: 2rem 3rem;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-auto-flow: dense;
		}
	}
	&-media {
		position: relative;
		aspect-ratio: 1/1;
		overflow: hidden;
		margin-top: -12rem;
		> div {
			position: absolute;
			top: 0;
			overflow: hidden;
			&:nth-of-type(1) {
				z-index: 1;
			}
			&:nth-of-type(2) {
				z-index: 2;
			}
			&:nth-of-type(3) {
				z-index: 3;
			}
			img {
			}
		}
	}
	&-intro {
		@media (min-width: 768px) {
			grid-column: 1;
			grid-row: 1;
		}
	}
	&-phase {
		grid-column: 1;
		a {
			margin-top: 2rem;
			display: inline-block;
		}
		&:nth-last-child(2) {
			@media (min-width: 768px) {
				grid-column: 2;
				margin-top: auto;
			}
		}
		&:last-child {
			@media (min-width: 768px) {
				grid-column: 2;
				grid-row: span 2;
				margin-bottom: auto;
			}
		}
	}
}

.recent-work {
	background: var(--black);
	padding: 12rem 0 7rem;
	@media (max-width: 767px) {
		padding: 6rem 0 0rem;
	}
	color: white;
	.top {
		max-width: 1180px;
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4rem;
		@media (max-width: 850px) {
			display: block;
		}
		h2 {
			margin: 0;
			@media (min-width: 768px) {
				white-space: nowrap;
			}
			span {
				@media (min-width: 851px) {
					display: block;
					margin-left: 40px;
				}
			}
		}
	}
	.slider {
		max-width: 980px;
		margin: 4rem auto;
		> .slider-item {
			&:not(:first-child) {
				display: none;
			}
		}
		&-item {
			width: 100%;
			&-media {
				img {
					width: 100%;
				}
			}
			&-text {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				margin: 2rem 0;
				gap: 1rem 3rem;
				&-heading {
					margin: 0;
					flex: 1 1 120px;
				}
				&-body {
					flex: 1 1 500px;
					p {
						margin-top: 0;
					}
					a {
						color: white;
						margin: 1rem 0;
					}
				}
				&-nav {
					flex: 0 0 auto;
					white-space: nowrap;
					display: flex;
					margin: 0 auto;
				}
			}
		}
	}
}

.service {
	&s {
		padding: 6rem 0;
		@media (max-width: 767px) {
			padding: 3rem 0 5rem;
		}
	}
	margin: 10rem auto 8rem;
	display: flex;
	gap: 1rem 5rem;
	flex-wrap: wrap;
	max-width: 1000px;
	@media (min-width: 768px) {
		padding-left: 70px;
		padding-right: 70px;
	}
	&-left {
		flex: 0 1 260px;
		position: relative;
		text-align: right;
		margin-top: -5rem;
		h3 {
			text-align: left;
			margin: 0;
		}
		.service-square {
			width: 108px;
			height: 108px;
			display: block;
			position: absolute;
			right: 0;
			z-index: -1;
			top: 2rem;
			background: var(--light-teal);
			.service--marketing & {
				background: var(--light-green);
				right: 1rem;
			}
			.service--ongoing & {
				background: var(--light-red);
			}
		}
		.service-icon {
			width: 140px;
			margin-right: -1rem;
			margin-left: auto;
		}
	}
	&-right {
		flex: 1 1 400px;
		.lg-reveal--layer-to-right:after {
			background-color: var(--light-teal);
		}
		.service--marketing & {
			.lg-reveal--layer-to-right:after {
				background-color: var(--light-green);
			}
		}
		.service--ongoing & {
			.lg-reveal--layer-to-right:after {
				background-color: var(--light-red);
			}
		}
		ul {
			column-count: 2;
			list-style: none;
			padding: 0;
			margin-top: 2rem;
			li {
				line-height: 1.2;
				font-weight: bold;
				+ li {
					margin-top: 1rem;
				}
			}
		}
	}
}

.testimonials {
	padding: 8rem 0;
	@media (max-width: 767px) {
		padding: 5rem 0 2rem;
	}
	text-align: center;
	background: #f4f4f4;
	overflow: hidden;
	.lg-reveal--layer:after,
	.lg-reveal--layer-to-top:after,
	.lg-reveal--layer-to-right:after,
	.lg-reveal--layer-to-bottom:after,
	.lg-reveal--layer-to-left:after {
		background-color: var(--light-green);
	}
	h2 {
		max-width: 900px;
		margin: auto;
	}
	blockquote {
		margin: 3rem auto;
	}
	&-content {
		flex: 1 1 400px;
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		p {
			font-size: var(--step-1);
			font-weight: 300;
			line-height: 1.5;
		}
		svg {
			&:last-child {
				margin-top: auto;
				margin-bottom: 2rem;
			}
		}
	}
	&-meta {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
		img {
			flex: 0 1 150px;
		}
		cite {
			flex: 0 1 auto;
			border-left: 2px solid;
			margin-left: 1.5rem;
			padding-left: 1.5rem;
			font-style: normal;
			line-height: 1.2;
			text-align: left;
			strong {
				font-size: 1.2rem;
				display: block;
				font-family: var(--sans-serif);
				font-weight: 500;
			}
			span {
				display: block;
				margin-top: 0.25rem;
			}
		}
	}
}

.featured-articles {
	margin: 8rem 0;
	@media (max-width: 767px) {
		margin: 5rem 0 3rem;
	}
	.grid {
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		article {
			flex: 1 1 250px;
			display: flex;
			flex-direction: column;
			position: relative;
			img {
				height: 250px;
				object-fit: cover;
			}
			a {
				text-decoration: none;
				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
			}
			p {
				margin-top: auto;
				color: #757575;
				span + span {
					&:before {
						content: ", ";
					}
				}
			}
		}
	}
}

// services pages
.service-intro {
	background: var(--lighter-teal);
	padding: 8rem 0;
	@media (max-width: 767px) {
		padding-bottom: 4rem;
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 2rem 3rem;
	}
	.h4 {
		flex: 1 1 100%;
		color: var(--purple);
		max-width: 52ch;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 5rem;
	}
	&-media {
		flex: 1 1 400px;
	}
	&-text {
		flex: 1 1 400px;
		p {
			max-width: none;
		}
	}
}
.service-list {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	max-width: 1000px;
	margin-bottom: 8rem;
	@media (max-width: 767px) {
		margin-bottom: 4rem;
		gap: 2rem;
	}
	h2 {
		flex: 1 1 100%;
		text-align: center;
		max-width: none;
		margin-top: 8rem;
		margin-bottom: 3rem;
		@media (max-width: 767px) {
			margin-top: 5rem;
			margin-bottom: 1rem;
		}
	}
	&-item {
		flex: 1 1 400px;
		position: relative;
		p {
			max-width: 50ch;
		}
		&-square {
			width: 103px;
			height: 103px;
			left: 0;
			z-index: -1;
			top: 0;
			background: var(--light-teal);
		}
		svg {
			display: block;
			position: absolute;
			top: 0.5rem;
			left: 1.5rem;
		}
	}
}

// about page
.team {
	text-align: center;
	padding-bottom: 8rem;
	position: relative;
	.button {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 4rem;
		&--skeleton {
			right: 0;
		}
		&--disco {
			left: 0;
		}
	}
	h2 {
		max-width: none;
		margin: 12rem 0 4rem 0;
		@media (max-width: 767px) {
			margin-top: 5rem;
		}
	}
	.team-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media (max-width: 1100px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: 800px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 400px) {
			grid-template-columns: 1fr;
		}
		gap: 2rem;
		&-item {
			picture {
				background: var(--light-green);
			}
		}
		h3 {
			margin: 1rem 0 0 0;
		}
		p {
			margin: 0;
		}
	}
	&.skulls {
		picture {
			img {
				opacity: 0;
			}
			&:after {
				opacity: 1 !important;
			}
		}
	}
	&.dance {
		.team-grid-item {
			picture {
				animation: 5s disco infinite linear;
			}
			&:nth-child(2) {
				picture {
					animation-delay: -1s;
				}
			}
			&:nth-child(3) {
				picture {
					animation-delay: -2s;
				}
			}
			&:nth-child(4) {
				picture {
					animation-delay: -4s;
				}
			}
			&:nth-child(5) {
				picture {
					animation-delay: -3s;
				}
			}
			&:nth-child(6) {
				picture {
					animation-delay: -4.5s;
				}
			}
			&:nth-child(7) {
				picture {
					animation-delay: -5.5s;
				}
			}
		}
	}
}
@keyframes disco {
	0% {
		background: var(--purple);
	}
	13% {
		background: var(--light-teal);
	}
	25% {
		background: var(--green);
	}
	37% {
		background: var(--light-purple);
	}
	50% {
		background: var(--teal);
	}
	62% {
		background: var(--red);
	}
	74% {
		background: var(--black);
	}
	87% {
		background: var(--light-green);
	}
	100% {
		background: var(--light-red);
	}
}
