@use "variables" as *;

.header {
	padding: 2rem 0;
	position: relative;
	&.headroom {
		will-change: transform;
		transition: transform 200ms linear;
		position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		z-index: 99;
		transition: background 750ms ease, transform 250ms ease;
		&--pinned {
			transform: translateY(0%);
			background: var(--black);
			--text-color: white;
			--bg-color: var(--black);
		}
		&--unpinned {
			transform: translateY(-100%);
			.mobile-menu-active & {
				transform: translateY(0);
			}
			background: transparent;
			--text-color: var(--black);
			--bg-color: white;
		}
		&--top {
			background: transparent;
			--text-color: var(--black);
			--bg-color: white;
		}
		&--not-top {
			background: var(--black);
			--text-color: white;
			--bg-color: var(--black);
		}
		.has-dark-header & {
			background: var(--black);
			--text-color: white;
			--bg-color: var(--black);
		}
	}
	.wrapper {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}
	&-logo {
		position: relative;
		z-index: 10;
		display: block;
		svg {
			display: block;
			.header-logo-text {
				fill: var(--text-color);
				transition: 200ms ease;
			}
		}
	}
	.hamburger {
		display: none;
		@media (max-width: 767px) {
			display: block;
			border: 0 none;
			background: none;
			appearance: none;
			margin-left: auto;
			position: relative;
			z-index: 10;
		}
	}
	&-nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		a {
			font-family: var(--sans-serif);
			color: var(--text-color);
			font-size: 15px;
			font-weight: 600;
			text-decoration: none;
			&.button {
				font-family: var(--serif);
				background-color: var(--text-color);
				color: var(--bg-color);
				&:hover,
				&:focus {
					background-color: var(--purple);
					color: white;
				}
			}
		}
		// mobile styles
		@media (max-width: 767px) {
			position: fixed;
			top: 0;
			left: 0;
			padding: 1rem;
			text-align: center;
			width: 100%;
			height: 100vh;
			background: var(--bg-color);
			display: flex;
			align-items: center;
			justify-content: center;
			visibility: hidden;
			opacity: 0;
			transform: translateX(-100%);
			transition: 350ms ease;
			.mobile-menu-active & {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
			> ul {
				height: 100%;
				width: 100%;
				padding-top: 6rem;
				padding-bottom: 2rem;
				gap: 3rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				ul {
					display: none;
					a {
						font-weight: normal;
						font-size: var(--step-0);
					}
				}
			}
			li {
				a {
					font-size: var(--step-1);
				}
			}
			svg {
				display: none;
			}
		}
		// desktop styles
		@media (min-width: 768px) {
			margin-left: auto;
			> ul {
				display: flex;
				align-items: center;
				gap: 1.5rem;
				> li {
					position: relative;
					&:last-child {
						margin-left: 1rem;
					}
					&:hover {
						> ul {
							visibility: visible;
							opacity: 1;
							transform: translate(0px);
							&:before {
								transform: translate(5px, 5px);
								opacity: 1;
							}
							&:after {
								opacity: 1;
							}
						}
					}
					> a {
						display: flex;
						align-items: center;
						gap: 0.5rem;
						color: var(--text-color);
						&:hover:not(.button),
						&:focus:not(.button) {
							color: var(--purple);
						}
					}
					ul {
						position: absolute;
						top: 100%;
						left: 0;
						padding: 0.75rem 1.25rem;
						opacity: 0;
						visibility: hidden;
						transition: 200ms ease;
						transform: translate(-10px);
						a {
							color: var(--black);
							&:hover,
							&:focus {
								color: var(--purple);
							}
						}
						&:after,
						&:before {
							content: "";
							background: #f7f7f7;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							position: absolute;
							transition: 300ms ease;
							opacity: 0;
							z-index: -1;
						}
						&:after {
							border: 1px solid #eaeaea;
							background: white;
						}
						li {
							display: block;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
}
