:root {
	// brand colors
	--purple: #5544f8;
	--lightPurple: #aaa2f9;
	--green: #42c634;
	--lightGreen: #a1e39a;
	--teal: #8aeaed;
	--lightTeal: #c5f5f6;
	--red: #f4513b;
	--lightRed: #f9a79c;
	--black: #0d1726;
	--white: #f4f4f4;
	--grey: #aaaaaa;
	--lightGrey: #d7ddda;
}
html {
}
body {
	font-family: 'Newsreader', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}
