/* newsreader-regular - latin */
@font-face {
	font-family: 'Newsreader';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/newsreader-v19-latin-regular.woff2') format('woff2');
	font-display: swap;
}
/* newsreader-600 - latin */
@font-face {
	font-family: 'Newsreader';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('/fonts/newsreader-v19-latin-600.woff2') format('woff2');
	font-display: swap;
}
/* newsreader-700 - latin */
@font-face {
	font-family: 'Newsreader';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/fonts/newsreader-v19-latin-700.woff2') format('woff2');
	font-display: swap;
}
/* newsreader-italic - latin */
@font-face {
	font-family: 'Newsreader';
	font-style: italic;
	font-weight: 400;
	src: local(''), url('/fonts/newsreader-v19-latin-italic.woff2') format('woff2');
	font-display: swap;
}
/* poppins-500 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('/fonts/poppins-v20-latin-500.woff2') format('woff2');
	font-display: swap;
}
/* poppins-600 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('/fonts/poppins-v20-latin-600.woff2') format('woff2');
	font-display: swap;
}
div[data-lg-preloader] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 999;
}

// third party styles
@use 'sanitize.css';
@use 'sanitize.css/forms.css';
@use 'sanitize.css/assets.css';
@use '@waaark/luge/dist/css/luge';
@use 'flickity/css/flickity';
@use 'flickity-fade/flickity-fade';
@use 'highlight.js/styles/monokai-sublime';

// the default wordpress block styles for the work and blog posts
@use './base/wordpress';

// the luge.cool animation overrides
@use './base/animations';

// css variables used throughout
@use './base/variables';

// random utilities and such that don't fit any category 🤷
@use './base/base';

// fonts n' things
@use './base/typography';

// forms and inputs
@use './base/inputs';

// buttons (form buttons and link buttons!)
@use './base/buttons';

// the global header styles
@use './components/header';

// the global footer styles
@use './components/footer';

// rest of the components
@use './components/featured-articles';
@use './components/hero';
@use './components/how-we-work';
@use './components/recent-work';
@use './components/services';
@use './components/simple-hero';
@use './components/testimonials';

// page specific styles
@use './pages/four-oh-four';
@use './pages/about';
@use './pages/blog';
@use './pages/clients';
@use './pages/contact';
@use './pages/services-list';
@use './pages/work';
