---
import Layout from '../Base.astro';
import HowWeWork from '../components/HowWeWork.astro';
import Team from '../components/OurTeam.astro';
---

<Layout title='About Kelp' description='Our team spans a broad range of digital expertise allowing us to take on very unique and intricate projects. If you can dream it, we can make it.'>
	<div class='wrapper wrapper--narrow'>
		<h1 data-lg-reveal='fade' data-lg-reveal-stagger='0.015'>
			<span>Our</span> <span>team</span> <span>spans</span> <span>a</span> <span>broad</span> <span>range</span> <span>of</span> <span>digital</span> <span>expertise</span> <span>allowing</span> <span>us</span> <span>to</span> <span>take</span> <span>on</span> <span>very</span> <span>unique</span> <span>and</span> <span>intricate</span> <span>projects.</span> <span>If
			you</span> <span>can</span> <span>dream</span> <span>it,</span> <span>we</span> <span>can</span> <span>make</span> <span>it.</span>
		</h1>
	</div>
	<HowWeWork />
	<Team />
</Layout>
<style lang='scss'>
	h1 {
		margin: 8rem 0 12rem;
		line-height: 1.4;
		font-size: var(--step-5);
		max-width: none;
	}
</style>
