---
import Layout from "../Base.astro";
import HowWeWork from "../components/HowWeWork.astro";
import Team from "../components/OurTeam.astro";
---

<Layout title='About Kelp'>
	<div class='wrapper wrapper--narrow'>
		<h1
			data-splitting
			style='margin: 8rem 0 12rem; line-height: 1.4; font-size: var(--step-5); max-width: none;'
			data-lg-reveal='fade'
			data-lg-reveal-stagger='0.03'
		>
			Our team spans a broad range of digital expertise allowing us to take on very unique and intricate
			projects. If you can dream it, we can make it.
		</h1>
	</div>
	<HowWeWork />
	<Team />
</Layout>
