---
import Layout from '../Base.astro';
import SimpleHero from '../components/SimpleHero.astro';
import { Img } from 'astro-imagetools/components';
---

<Layout title='Kelp Calendar' description='The days we take off — 2025 years since the birth of Our Blessed Lord.'>
	<SimpleHero tagline='Kelp Holidays' title='2024 Calendar' />
	<div class='wrapper wrapper--narrow' style='margin-bottom: 150px;'>
		<h2 class='h4' data-lg-reveal='fade'>The days we'll be off this year.</h2>
		<ul data-lg-reveal='fade' data-lg-reveal-stagger='.1'>
			<li><b>Martin Luther King Jr. Day:</b> Monday, January 20, 2025</li>
			<li><b>Presidents Day:</b> Monday, February 17, 2025</li>
			<li><b>Good Friday:</b> Friday, April 18, 2025</li>
			<li><b>Memorial Day:</b> Monday, May 26, 2025</li>
			<li><b>Juneteenth:</b> Thursday, June 19, 2025</li>
			<li><b>Independence Day:</b> Thursday, July 4, 2025</li>
			<li><b>Labor Day:</b> Monday, September 1, 2025</li>
			<li><b>Columbus/Indigenous People’s Day:</b> Monday, October 13, 2025</li>
			<li><b>Veterans Day:</b> Tuesday, November 11, 2025</li>
			<li><b>Thanksgiving:</b> November 27-28, 2025</li>
			<li><b>Christmas Break:</b> December 22, 2025-January 2, 2026</li>
		</ul>
	</div>
</Layout>
