---
import Layout from '../Base.astro';
import SimpleHero from '../components/SimpleHero.astro';
import { Img } from 'astro-imagetools/components';
---

<Layout title='Kelp Calendar' description='The days we take off — 2024 years since the birth of Our Blessed Lord.'>
	<SimpleHero tagline='Kelp Holidays' title='2024 Calendar' />
	<div class='wrapper wrapper--narrow' style='margin-bottom: 150px;'>
		<h2 class='h4' data-lg-reveal='fade'>The days we'll be off this year.</h2>
		<ul data-lg-reveal='fade' data-lg-reveal-stagger='.1'>
			<li><b>New Year’s Day:</b> Monday January 1, 2024</li>
			<li><b>Martin Luther King Jr. Day:</b> Monday, January 15, 2024</li>
			<li><b>Presidents Day:</b> Monday, February 19, 2024</li>
			<li><b>Good Friday:</b> Friday, March 29, 2024</li>
			<li><b>Memorial Day:</b> Monday, May 27, 2024</li>
			<li><b>Juneteenth:</b> Wednesday, June 19, 2024</li>
			<li><b>Independence Day:</b> Thursday, July 4, 2024</li>
			<li><b>Labor Day:</b> Monday, September 2, 2024</li>
			<li><b>Columbus/Indigenous People’s Day:</b> Monday, October 14, 2024</li>
			<li><b>Veterans Day:</b> Friday, November 11, 2024</li>
			<li><b>Thanksgiving:</b> November 28-29, 2024</li>
			<li><b>Christmas Break:</b> December 25, 2024-January 1, 2025</li>
		</ul>
	</div>
</Layout>
