---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="wrapper">
      <h1>We make digital 
        things happen.</h1>
      <p>
        We’re a team of designers, developers, and marketers who love to create attractive & functional solutions that reach their appropriate audience and compel action.
      </p>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul>
  </main>
</Layout>
