---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Kelp Resources'>
	<div class='wrapper'>
		<h1>Resources</h1>
		<p>Find our ebooks, guides, modules and more below...</p>
	</div>
</Layout>
