<footer class="footer">
  <div class="wrapper">
    <div class="top">
      <div class="top-left">
        <h3 class="h1">Ready to get started?</h3>
        <p>Let's get creative and start making something amazing together!</p>
        <a href="/contact/" class="button button--green">Schedule a Meeting</a>
      </div>
      <div class="top-right">
        <div class="box">
          <img src="/images/kelp-ck.svg" loading="lazy" width="227" height="179" alt="Kelp Creative Emblem" />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164 164" width="164" height="164" data-lg-parallax>
            <g transform="translate(-855 -370)">
              <circle cx="82" cy="82" r="82" transform="translate(855 370)" fill="var(--teal)"></circle>
              <g>
                <g fill="#0d1726">
                  <g>
                    <path
                      d="M951 483.8c-.5-2-3.6-4-6.1-5.7l-1.6-1a8 8 0 0 1-4-6 7 7 0 0 1 3-6l4.3-2.6c3.6-2.2 5-5.4 3.5-8.4-.7-2-4.1-4-6.9-5.6l-2-1.3c-2.8-1.6-4.4-4-4.4-6.5s1.5-4.9 4.1-6.5c1.8-1.2 4-2.6 4.9-4.2 1.7-2.9.3-6.5-3.3-8.9-1.7-1-3.3-2.2-4.8-3.2a7.4 7.4 0 0 1-3.5-7c-.8.7-2 1.5-3.4 2.4-2.3 1.7-5 3.5-5.6 4.1a6.9 6.9 0 0 0-2.5 5.6 6.2 6.2 0 0 0 3 4.6l4.8 3.3c2.4 1.6 3.9 3.7 4 6a7.1 7.1 0 0 1-3 6l-4.2 2.6c-4 2.4-5.3 6.1-3.1 9 .9 1.7 4 3.5 6.4 5l2.1 1.2c2.8 1.7 4.3 4 4.4 6.5 0 2.5-1.5 4.9-4.2 6.6l-2.1 1.4a6.5 6.5 0 0 0-3.5 5.4c0 2.4 1.5 4.6 4 6.2l1.3 1c2 1.2 4.8 3 5.5 4.2a6.6 6.6 0 0 1 1.4 5c2.2-1.6 4.6-3.3 7.4-5 3.3-2.3 4.9-5.4 4-8.2Z"
                    ></path>
                    <path
                      d="M979.5 472a6.3 6.3 0 0 0-2.8-3.5l-5-3.3c-2.5-1.7-3.9-4-3.8-6.5 0-2.5 1.6-5 4.4-6.6l2.3-1.4c2.4-1.5 3.7-3.4 3.6-5.6 0-2.4-1.8-4.7-4.7-6.3a95 95 0 0 1-5.8-3.4c-3.2-1.8-5.2-4.6-5.3-7.3l-3 2.1a65.6 65.6 0 0 0-6.3 4.7 5.8 5.8 0 0 0-1.7 5.1 8 8 0 0 0 4.2 5.4l5.5 3.3c2.7 1.6 4.3 3.8 4.5 6.2.1 2.3-1.1 4.5-3.4 6.2a20.5 20.5 0 0 1-2.4 1.4l-1.1.7c-2.7 1.6-4.3 3.8-4.3 6.2a6.7 6.7 0 0 0 3.3 5.7l1.3 1c2 1.3 4.7 3.1 5.3 4.4a5.6 5.6 0 0 1 .5 5l9.3-5.2c4-2.3 6.1-5.4 5.4-8.3Z"
                    ></path>
                    <path
                      d="m917.5 459.2-5.5-3.4c-2.8-1.6-4.3-4-4.3-6.4 0-2.6 1.7-5 4.6-6.7l2.4-1.4c2.6-1.5 4.2-3.7 4.4-6a6.6 6.6 0 0 0-3.2-5.8l-4.4-3.3a5.9 5.9 0 0 1-2.2-7l-3 1.6c-3.1 1.8-7.5 4.2-8.4 5-2.3 1.7-3.6 3.8-3.5 6a5.4 5.4 0 0 0 2.6 4.3l4.8 3.3a7.6 7.6 0 0 1 3.7 6c0 2.3-1.2 4.6-3.5 6.3a20.1 20.1 0 0 1-2.3 1.4l-1.1.8c-2.6 1.5-4 3.5-3.9 5.7 0 2.4 1.7 4.6 4.5 6.2l2.1 1.2c2.4 1.3 5.4 3 6.4 4.1a7.7 7.7 0 0 1 2.5 5.4c2.4-1.7 5-3.5 8-5.4 3.3-2.2 4.4-5.4 2.9-8.4a9.4 9.4 0 0 0-3.6-3.5Z"
                    ></path>
                  </g>
                  <g>
                    <path d="M957.7 490.4v2.7h-1v-2.7h-1.2v-.7h3.5v.7Z"></path>
                    <path d="M963 493.1V491l-1.2 1.5-1.2-1.5v2.2h-.9v-3.4h1l1.1 1.5 1.2-1.5h1v3.4Z"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="column column--wide">
        <h3 class="h5">Services</h3>
        <ul>
          <li><a href="/services/apparel-design/">Apparel Design</a></li>
          <li><a href="/services/applications/">App Development</a></li>
          <li><a href="/services/audience-targeting/">Audience Targeting</a></li>
          <li><a href="/services/branding/">Branding</a></li>
          <li><a href="/services/campaign-management/">Campaign Management</a></li>
          <li><a href="/services/copywriting/">Copywriting</a></li>
          <li><a href="/services/digital-design/">Digital Design</a></li>
          <li><a href="/services/digital-marketing/">Marketing</a></li>
          <li><a href="/services/ecommerce/">Ecommerce</a></li>
          <li><a href="/services/infographics/">Infographics</a></li>
          <li><a href="/services/motion-graphics/">Motion Graphics</a></li>
          <li><a href="/services/photography/">Photography</a></li>
          <li><a href="/services/social-ppc/">PPC & Social Campaigns</a></li>
          <li><a href="/services/print-design/">Print Design</a></li>
          <li><a href="/services/reporting/">Reporting</a></li>
          <li><a href="/services/social-media-content/">Social Media Content</a></li>
          <li><a href="/services/video/">Videography</a></li>
          <li><a href="/services/web-hosting/">Hosting</a></li>
          <li><a href="/services/website-development/">Web Development</a></li>
          <li><a href="/services/website-support/">Website Support</a></li>
        </ul>
      </div>
      <div class="column">
        <h3 class="h5">Contact</h3>
        <address>
          <svg xmlns="http://www.w3.org/2000/svg" width="44.89" height="34.37" viewBox="0 0 44.89 34.37">
            <path
              fill="#42c634"
              stroke="rgba(0,0,0,0)"
              stroke-miterlimit="10"
              stroke-width="5"
              d="M34.2 31.87a2 2 0 0 1-.51-.06 2 2 0 0 1-1.05-.72l-.03-.03a13 13 0 0 1-.74-1.16l-.26-.43a2.8 2.8 0 0 1-1.69.62 3 3 0 0 1-1.02-.21l-.03-.01-.04-.02-.02.04-.01.01a2.6 2.6 0 0 1-1.55 1 2 2 0 0 1-.56.07 3 3 0 0 1-1.28-.33h-.01l-.07-.04-.04.04-.01.02a2.6 2.6 0 0 1-1.61.8l-.1.02h-.23a2.6 2.6 0 0 1-1.56-.53l-.03-.02-.03-.02-.04.03-.03.02a2.6 2.6 0 0 1-1.68.58h-.11a2.6 2.6 0 0 1-1.68-.73l-.03-.03-.04-.03-1.44.37a2.3 2.3 0 0 1-1.68.73h-2a2.33 2.33 0 0 1-2.31-2.33v-.43l-.65-.08a3 3 0 0 1-.95-.32 2.6 2.6 0 0 1-1.21-1.49l-.01-.03-.03-.06-.03-.03h-.15a2.6 2.6 0 0 1-1.72-.76 2.6 2.6 0 0 1-.78-1.77v-.15L5 24.33l-.04-.02a2.57 2.57 0 0 1-1.51-3.24v-.04l.04-.1-.13-.12a2.56 2.56 0 0 1-.22-3.61l.03-.04.07-.1-.04-.1-.02-.04A2.5 2.5 0 0 1 3.06 15a2.6 2.6 0 0 1 1.29-1.47l.01-.01.11-.07.01-.02v-.14a2.5 2.5 0 0 1 .54-1.82 2.6 2.6 0 0 1 1.62-.96h.03l.15-.03.02-.1v-.02a2.5 2.5 0 0 1 1-1.6 2.6 2.6 0 0 1 1.6-.52l.23.01h.12l.92-.26V4.82a2.3 2.3 0 0 1 2.32-2.32h2a2.3 2.3 0 0 1 2.31 2.27 3 3 0 0 1 .8-.3l.09-.01.09-.01.32-.02A3 3 0 0 1 20 4.8l.09.04.05-.04a2.6 2.6 0 0 1 1.62-.76H22a2.6 2.6 0 0 1 1.6.54l.03.03.03.02.08-.06.05-.03a2.7 2.7 0 0 1 1.54-.51h.19a2.6 2.6 0 0 1 1.67.75l.01.01.05.04.05-.03a2.7 2.7 0 0 1 1.38-.4 3 3 0 0 1 .48.04 3 3 0 0 1 .56.17l.17.1a1 1 0 0 0 .23.15.2.2 0 0 0 .12-.08l.26-.27a6 6 0 0 1 1.58-1.29 3 3 0 0 1 1.26-.27h3.96a2.2 2.2 0 0 1 1.33.37 2.1 2.1 0 0 1 .76 2.35 3 3 0 0 1-.8 1.23s-.42.42-.6.6a2 2 0 0 1-.4.32l.02.03.01.01.02.01h.39a2.5 2.5 0 0 1 1.62.58 2.7 2.7 0 0 1 .97 1.7v.04l.03.13.02.02.1.16.43.71a2 2 0 0 1 .26 1.02 2.23 2.23 0 0 1-2.13 2.24h-.1a2 2 0 0 1-.55-.06q-.23-.06-.47-.1h-.04l-.13-.03-.13-.03-.03.01-.04.01a2 2 0 0 1-.83.16 3 3 0 0 1-.93-.18 2.5 2.5 0 0 1-1.32-1.09l-.43.16a3 3 0 0 1-.98.07l-.1-.01-.2-.05-.05-.01a2 2 0 0 1-.38-.13l-.1-.08-.14-.1c-.18.18-.65.77-1.03 1.25-.3.4-.54.7-.56.7l.6.9.05.08 2.14 3.13.06.1a4 4 0 0 1 .55 1l.97.22.35.1.1.03.02-.03a2.6 2.6 0 0 1 1.39-1.13l.05-.02.05-.01a3 3 0 0 1 .8-.12 2 2 0 0 1 .91.18l.14.05.14-.04a8 8 0 0 1 .82-.14l.25-.02.7.1.22.1a2.2 2.2 0 0 1 1.14 1.25l.08.25.07.41a2 2 0 0 1-.08.73l-.01.04a2 2 0 0 1-.28.59l-.03.04-.18.27-.11.2-.06.15-.05.14-.02.1-.05.16a3 3 0 0 1-.2.5l-.04.08-.05.08a3 3 0 0 1-.77.77 2.5 2.5 0 0 1-1.42.46l-.4-.03h-.07l-.01.02-.02.05-.18.34.13.16.34.4.33.29.24.21.06.06.36.3a2 2 0 0 1 .7.64 2.3 2.3 0 0 1 .35 1.77 2.4 2.4 0 0 1-1.18 1.57 3 3 0 0 1-1.4.4q-.56 0-1.1.02h-2.83zm1.08-4.98-.17.34a2.1 2.1 0 0 1-1.13 1.09 3 3 0 0 1-.63.17l-.76.09.4.66a12 12 0 0 0 .66 1.04l.01.01a.7.7 0 0 0 .37.26l.18.03h1.82l1.04-.02h.1l1.13-.01a1.5 1.5 0 0 0 .75-.23 1.1 1.1 0 0 0 .56-.72 1 1 0 0 0-.15-.74 1 1 0 0 0-.34-.3l-.06-.03-.5-.44-.02-.01-.08-.07-.04-.04-.12-.1v-.02l-.3-.25a5 5 0 0 1-.52-.57l-.23-.3-.34.14a2 2 0 0 1-.8.14 3 3 0 0 1-.46-.04ZM13.03 3.8a1 1 0 0 0-1.02 1.02L12 17.06l-.01 7.08v.07l-.01 5.31A1 1 0 0 0 13 30.55h1.99a1 1 0 0 0 1.02-1.01v-1.22a2 2 0 0 1 .12-.65 2 2 0 0 1 .43-.69L21 22.62c2.54-2.5 2.91-2.85 2.97-2.9a4 4 0 0 1 .47-.38 2 2 0 0 1 .57-.25h.02a1 1 0 0 1 .3-.05 2 2 0 0 1 .7.18 5.5 5.5 0 0 1 1.95 2.1l.45.7a1.02 1.02 0 0 0 1.5.25 2 2 0 0 1 .74-.38h.02a2 2 0 0 1 .6-.1 3 3 0 0 1 .6.07l.2.02a.9.9 0 0 0 .9-.76 1.6 1.6 0 0 0-.41-1.19l-.02-.02-.07-.1-1.84-2.7-.29-.42-.77-1.15a1.14 1.14 0 0 1 .1-1.34l.12-.12c.32-.29.8-.73.64-1.25a.9.9 0 0 0-.67-.53l-.09-.03a2 2 0 0 1-.36-.3 1.3 1.3 0 0 0-.84-.45h-.17a1.3 1.3 0 0 0-.77.26 1.3 1.3 0 0 1-.61.24h-.21l-.2-.02h-.03l-.19-.07a1 1 0 0 0-.51-.12 1 1 0 0 0-.5.12 2 2 0 0 0-.61.53h-.01l-.11.12-1 1.02-1.98 2.03-.1.1-3.83 3.93-1.65 1.7v-2.2l.02-14.34a1 1 0 0 0-1.01-1.02Zm5.07 25.65h.18a1.2 1.2 0 0 1 .76.38 1.3 1.3 0 0 0 .9.41h.03a1.3 1.3 0 0 0 .91-.33 1.2 1.2 0 0 1 .8-.3 1.3 1.3 0 0 1 .83.27 1.3 1.3 0 0 0 .83.3h.19a1.3 1.3 0 0 0 .83-.44 1.2 1.2 0 0 1 .77-.42h.03l.2-.02a1.3 1.3 0 0 1 .63.19 2 2 0 0 0 .7.19l.27-.03a1.3 1.3 0 0 0 .82-.55 1.2 1.2 0 0 1 .7-.5 1 1 0 0 1 .33-.05 2 2 0 0 1 .54.12 2 2 0 0 0 .57.13 1 1 0 0 0 .42-.08 1.2 1.2 0 0 0 .66-.5l.1-.13.18-.25a1 1 0 0 1 .33-.27h.02l.1-.06h.04l.02-.02.11-.04.25-.03a2 2 0 0 1 .47.07h.02a2 2 0 0 0 .44.07 1.4 1.4 0 0 0 .52-.1l.02-.02a1.3 1.3 0 0 0 .67-.69 1.2 1.2 0 0 1 .59-.63 1 1 0 0 1 .54-.12l.33.03h.03l.32.03a1 1 0 0 0 .48-.08l.03-.02.03-.01a1 1 0 0 0 .42-.3 2 2 0 0 0 .26-.42v-.02a2 2 0 0 1 .21-.4 1.2 1.2 0 0 1 1-.48l.22.02h.06l.21.02a1.2 1.2 0 0 0 .7-.24 1.4 1.4 0 0 0 .4-.41l.02-.02v-.03l.12-.3.03-.08v-.05l.1-.32.1-.27.2-.3.21-.34.13-.26v-.01a1 1 0 0 0-.02-.57 1 1 0 0 0-.47-.53l-.04-.04-.35-.05h-.07l-.68.12-.06.02-.03.01-.18.03-.15.01a2 2 0 0 1-.54-.11h-.02l-.05-.03a1 1 0 0 0-.44-.1 2 2 0 0 0-.46.08h-.03a1.3 1.3 0 0 0-.72.62 1.2 1.2 0 0 1-.68.56h-.01a1 1 0 0 1-.35.08l-.18-.01-.36-.1-.27-.07-.75-.17.04.25a1 1 0 0 0-.3.16 2 2 0 0 0-.38.42v.01a1.2 1.2 0 0 1-.67.55 1 1 0 0 1-.34.06 2 2 0 0 1-.55-.1 2 2 0 0 0-.55-.12 1 1 0 0 0-.38.06 1.3 1.3 0 0 0-.76.59 1.2 1.2 0 0 1-.54.48l-.07.03-.04.02-.15.02h-.03l-.17.02a1 1 0 0 1-.41-.09l-.15-.06a2 2 0 0 0-.52-.14l-.12-.02h-.05l-.25.05a1.4 1.4 0 0 0-.78.53 1 1 0 0 1-.72.47l-.25.02a1 1 0 0 1-.59-.18l-.03-.01a1.4 1.4 0 0 0-.7-.21l-.2.01a1.3 1.3 0 0 0-.82.44 1.1 1.1 0 0 1-.78.4h-.11a1 1 0 0 1-.74-.28 1.3 1.3 0 0 0-.85-.32 1.3 1.3 0 0 0-.87.3l-.3.2-.1.04-.06.07c-.15.17-.82.83-1.69 1.68l-.62.62a1 1 0 0 0-.32.77v1.39l.62-.16zM9.44 9.53a1.3 1.3 0 0 0-.81.26v.01a1.2 1.2 0 0 0-.5.82 1.3 1.3 0 0 1-.4.78 1.4 1.4 0 0 1-.8.37H6.9a1.3 1.3 0 0 0-.87.5 1.2 1.2 0 0 0-.26.93 1.3 1.3 0 0 1-.16.86 1.4 1.4 0 0 1-.64.6 1.3 1.3 0 0 0-.68.74 1.2 1.2 0 0 0 .06.98 1.4 1.4 0 0 1 .16.86 1.4 1.4 0 0 1-.38.78 1.2 1.2 0 0 0-.35.95 1.2 1.2 0 0 0 .45.89 1.4 1.4 0 0 1 .49.74 1.3 1.3 0 0 1-.05.85 1.2 1.2 0 0 0 .04 1 1.3 1.3 0 0 0 .74.66 1.5 1.5 0 0 1 .73.53 1.3 1.3 0 0 1 .25.82 1.2 1.2 0 0 0 .38.92 1.3 1.3 0 0 0 .92.4 1.4 1.4 0 0 1 .86.28 1.3 1.3 0 0 1 .48.7 1.3 1.3 0 0 0 .62.78 1 1 0 0 0 .49.17l.56.07v-5.8l-.2-.16-.17-.15a.8.8 0 0 1-.17-.77 1.3 1.3 0 0 0-.05-.82 1.2 1.2 0 0 0-.52-.59.9.9 0 0 1-.47-.69.8.8 0 0 1 .3-.7 1.3 1.3 0 0 0 .47-.69 1.2 1.2 0 0 0-.07-.79.9.9 0 0 1 .05-.82 1 1 0 0 1 .5-.4l.35-.11.01-5.98-.64.18a1 1 0 0 1-.35.05h-.17zm15.9 10.8-.03.02-.14.06-.32.27c-.13.12-.94.9-2.81 2.74a3 3 0 0 1 .7.4 2.6 2.6 0 0 1 1.54-.79l.36-.02a2.7 2.7 0 0 1 1.32.36 2.7 2.7 0 0 1 1.24-.88l-.3-.48a4.6 4.6 0 0 0-1.42-1.63zm-6.78-8.1-1.23.72-.01 5.2 5.72-5.86a2.7 2.7 0 0 1-1.28-.52 2.6 2.6 0 0 1-1.51.79h-.06l-.32.02a3 3 0 0 1-1.3-.34Zm19.35.71.21.02.23.06h.04q.32.04.61.12l.23.03h.03a.95.95 0 0 0 .9-.94 1 1 0 0 0-.1-.4q-.16-.3-.38-.62l-.12-.18-.05-.1a2 2 0 0 1-.17-.53 1.4 1.4 0 0 0-.51-.94 1.2 1.2 0 0 0-.8-.28h-.25l-.04.01h-.06l-.23-.02h-.05a1 1 0 0 1-.42-.16l-.03-.03-.04-.02a1 1 0 0 1-.34-.34l-.18-.3-.06-.12-.18-.26-.03-.04a1.4 1.4 0 0 0-.94-.4 2 2 0 0 0-.5.09 2 2 0 0 1-.5.07 1 1 0 0 1-.37-.06 1.3 1.3 0 0 1-.67-.54 1.3 1.3 0 0 0-.79-.6h-.01a2 2 0 0 0-.37-.04 1.3 1.3 0 0 0-.58.14h-.02a2 2 0 0 1-.37.14h-.03l-.18.02-.28-.02-.1-.04h-.02a1 1 0 0 1-.36-.17l-.3-.3a1.3 1.3 0 0 0-.8-.47l-.22-.02h-.03a1.4 1.4 0 0 0-.73.22l-.01.01a1.2 1.2 0 0 1-.66.2h-.18a1.2 1.2 0 0 1-.77-.4 1.3 1.3 0 0 0-.9-.4h-.09a1.4 1.4 0 0 0-.82.3h-.03a1.2 1.2 0 0 1-.81.3 1.3 1.3 0 0 1-.83-.28 1.3 1.3 0 0 0-.84-.31h-.13a1.3 1.3 0 0 0-.86.42 1.2 1.2 0 0 1-.78.39h-.15a1.5 1.5 0 0 1-.7-.2 1.5 1.5 0 0 0-.75-.22l-.2.01h-.05a1.4 1.4 0 0 0-.82.53l-.01.01-.17.18-.16.15v4.9l.76-.45a1 1 0 0 1 .32-.12l.27-.04a1 1 0 0 1 .6.18 1.5 1.5 0 0 0 .7.2h.18a1.3 1.3 0 0 0 .8-.45 1.2 1.2 0 0 1 .8-.4h.13a1 1 0 0 1 .7.27h.01a1.3 1.3 0 0 0 .83.31h.02a1.3 1.3 0 0 0 .9-.36v-.01a2 2 0 0 1 .33-.22 1 1 0 0 1 .4-.09l.1.01h.01a1 1 0 0 1 .6.21l.2.16.15.13.02.01a1 1 0 0 0 .43.18l.2.04h.16a1.5 1.5 0 0 0 .77-.27l.02-.01.04-.03a1 1 0 0 1 .6-.21l.2.01a1.1 1.1 0 0 1 .77.42 1.3 1.3 0 0 0 .8.45l.26.02a1 1 0 0 0 .6-.18l.07-.04a1 1 0 0 1 .6-.19l.26.03a1.2 1.2 0 0 1 .74.48l.08.1.22.21.03.02a1 1 0 0 0 .42.19l.15.03h.17a1 1 0 0 0 .33-.04l.23-.08h.02l.03-.02a1.4 1.4 0 0 1 .56-.14 1 1 0 0 1 .32.05 1.2 1.2 0 0 1 .7.56 1.3 1.3 0 0 0 .7.6 1 1 0 0 0 .47.1 1 1 0 0 0 .38-.08h.03l.05-.02a2 2 0 0 1 .44-.09Zm-3.2-6.5a2 2 0 0 1 .89.19l.26.13a1 1 0 0 0 1.2-.16l.54-.56.07-.06a2 2 0 0 0 .48-.7.8.8 0 0 0-.28-.9 1 1 0 0 0-.57-.14h-3.96a2 2 0 0 0-.7.15 1 1 0 0 0-.63.64.7.7 0 0 0 .08.48 1 1 0 0 0 .67.45h.02l.1.04a2 2 0 0 1 .45.28 1 1 0 0 0 .65.25l.23-.03a2 2 0 0 1 .5-.06Z"
            ></path>
          </svg>
          <span>
            P.O. Box 116<br /> Brooksville, FL 34605
          </span>
        </address>
        <p><i>New Office Coming Soon</i></p>
        <p><a href="tel:+1-352-325-7688">352.325.7688</a></p>
      </div>
      <div class="column">
        <h3 class="h5">Work</h3>
        <ul>
          <li><a href="/work/">Case Studies</a></li>
          <!-- <li><a href="/work/portfolio/">Portfolio</a></li> -->
          <li><a href="/work/clients/">Clients</a></li>
        </ul>
      </div>
      <div class="column">
        <h3 class="h5">Platforms</h3>
        <ul>
          <li><a href="/platforms/hubspot/">HubSpot</a></li>
          <li><a href="/platforms/shopify/">Shopify</a></li>
          <li><a href="/platforms/wordpress/">WordPress</a></li>
        </ul>
      </div>
      <div class="column">
        <h3 class="h5">Follow us on social</h3>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/kelpagency">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="24" height="32">
                <title>Facebook</title>
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                ></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/kelpagency/"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="28" height="32">
                <title>Instagram</title>
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com/kelpagency"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32">
                <title>Twitter / X</title>
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                ></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/kelpagency/"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="28" height="32"
                ><title>LinkedIn</title><path
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    background: var(--black);
    padding: 8rem 0;
    color: white;
    @media (max-width: 767px) {
      padding: 5rem 0;
    }
    .top {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 4rem;
      &-left {
        flex: 1 1 400px;
        p {
          font-size: var(--step-2);
          font-weight: 600;
          line-height: 1.4;
        }
      }
      &-right {
        flex: 1 1 400px;
        @media (max-width: 600px) {
          order: -1;
        }
        .box {
          width: 392px;
          height: 392px;
          padding: 6rem;
          margin-left: auto;
          background: var(--purple);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @media (max-width: 600px) {
            width: 250px;
            height: 250px;
            padding: 3rem;
            margin-left: 0;
          }
          svg {
            position: absolute;
            bottom: -4rem;
            left: -4rem;
            @media (max-width: 600px) {
              left: unset;
              right: -2rem;
              bottom: -2rem;
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
    .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
      gap: 3rem;
      margin-top: 8rem;
      a {
        color: white;
        text-underline-offset: 3px;
        text-decoration-thickness: 1.5px;
        &:hover,
        &:focus {
          text-decoration-color: var(--purple);
        }
      }
      .column {
        flex: 1 1 200px;
        &--wide {
          @media (min-width: 501px) {
            grid-column: span 2;
          }
          ul li {
            flex: 0 1 200px !important;
          }
        }
        address {
          display: flex;
          gap: 1rem;
          line-height: 1.1;
        }
        h3 {
          border-bottom: 1px solid var(--green);
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          max-width: none;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem 1rem;
          li {
            flex: 1 0 auto;
            svg {
              fill: currentColor;
            }
          }
          &.socials {
            gap: 2rem;
            li {
              flex: 0 0 auto;
            }
          }
        }
      }
    }
  }
</style>
