---
---

<footer class='footer'>
	<div class='wrapper'>
		<h3 class='h1'>Ready to make some stuff?</h3>
		<p>All lines are open.</p>
		<a href='/contact' class='button button--green'>Let's Talk</a>
	</div>
</footer>
