---
---

<div class='how-we-work'>
	<div class='wrapper'>
		<div class='how-we-work-media'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 525 537.8'
				width='525'
				height='537.8'
				data-lg-parallax
				data-lg-parallax-amplitude='0.25'
			>
				<g>
					<path fill='#4a3df0' d='M53.2 0h384v426h-384z'></path>
					<g transform='translate(-728 -3894.2)'>
						<g transform='translate(781.2 4344.7)' opacity='.5' fill='#42c634'>
							<circle cx='3' cy='3' r='3'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(22.6)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(45.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(68)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(90.6)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(0 20.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(22.6 20.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(45.3 20.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(68 20.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(90.6 20.3)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(0 40.7)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(22.6 40.7)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(45.3 40.7)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(68 40.7)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(90.6 40.7)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(0 61)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(22.6 61)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(45.3 61)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(68 61)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(90.6 61)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(0 81.4)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(22.6 81.4)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(45.3 81.4)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(68 81.4)'></circle>
							<circle cx='3' cy='3' r='3' transform='translate(90.6 81.4)'></circle>
						</g>
						<path fill='#f28a7c' d='M974.9 4080.3h233.7v239.9H974.9z'></path>
						<path fill='#0d1726' d='M728 3994h270v381H728z'></path>
						<path fill='#f4513b' d='M996 4262h257v170H996z'></path>
						<circle cx='45' cy='45' r='45' transform='translate(1066 4091)' fill='#f4513b'></circle>
					</g>
				</g>
			</svg>
		</div>
		<div class='intro'>
			<h2>How We<br />Work</h2>
			<p>
				Simply put:<br />
				Kelp aims to - know your audience, create attractive content for them, reach them where they are, and compel
				them to take action.
			</p>
			<hr />
		</div>
		<div class='phase' data-lg-reveal='layer-to-right'>
			<h3 class='h5'>Discovery</h3>
			<p>
				The Discovery phase establishes the answers to any project’s most important question. “Why?” This
				information is then used to thoroughly prep the project for planning.
			</p>
		</div>
		<div class='phase' data-lg-reveal='layer-to-right'>
			<h3 class='h5'>Planning</h3>
			<p>
				With key insight we strategize. A production plan-of-attack maps out our tactics and techniques and is
				the clear roadmap of goals and “How” to reach them.
			</p>
		</div>
		<div class='phase' data-lg-reveal='layer-to-right'>
			<h3 class='h5'>Production</h3>
			<p>
				With a clear strategy we create the appropriate, engaging content pieces that will attract and inform
				a targeted audience.
			</p>
		</div>
		<div class='phase' data-lg-reveal='layer-to-right'>
			<h3 class='h5'>Market</h3>
			<p>
				Executing your developed marketing plan we take everything we have learned and created to the people,
				making refinements as the data flows through.
			</p>
		</div>
		<div class='phase' data-lg-reveal='layer-to-right'>
			<h3 class='h5'>Ongoing Support</h3>
			<p>
				The digital world is evolving at a rate much faster than most can keep up. Remain safe and relevant
				with ongoing web, and creative support services.
			</p>
			<a href='/contact' class='squiggle'>Let's Chat</a>
		</div>
	</div>
</div>
<style lang='scss'>
	.how-we-work {
		padding: 6rem 0;
		background: var(--black);
		color: white;
		.lg-reveal--layer:after,
		.lg-reveal--layer-to-top:after,
		.lg-reveal--layer-to-right:after,
		.lg-reveal--layer-to-bottom:after,
		.lg-reveal--layer-to-left:after {
			background-color: var(--purple) !important;
		}
		a {
			color: white;
		}
		.wrapper {
			display: grid;
			gap: 2rem 3rem;
			@media (min-width: 768px) {
				grid-template-columns: 1fr 1fr;
				grid-auto-flow: dense;
			}
		}
		svg {
			@media (min-width: 768px) {
				grid-column: 2;
			}
			margin-top: -8rem;
			max-width: 100%;
			height: auto;
		}
		.intro {
			@media (min-width: 768px) {
				grid-column: 1;
				grid-row: 1;
			}
		}
		.phase {
			grid-column: 1;
			a {
				margin-top: 2rem;
				display: inline-block;
			}
			&:nth-last-child(2) {
				@media (min-width: 768px) {
					grid-column: 2;
					margin-top: auto;
				}
			}
			&:last-child {
				@media (min-width: 768px) {
					grid-column: 2;
					grid-row: span 2;
					margin-bottom: auto;
				}
			}
		}
	}
</style>
