---
import { Picture } from "astro-imagetools/components";
---

<section class='team'>
	<div class='wrapper'>
		<h2>Our Team</h2>
		<div class='team-grid'>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/andrew.png' alt='Andrew Prouty' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Andrew Prouty</h3>
				<p>Project Manager</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/brandon.png' alt='Brandon Berlew' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Brandon Berlew</h3>
				<p>Creative Producer</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/jess.png' alt='Jessica Kenney' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Jessica Kenney</h3>
				<p>Accounting & HR</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/kevin.png' alt='Kevin Walters' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Kevin Walters</h3>
				<p>Marketing Manager</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/luke.png' alt='Luke Kenney' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Luke Kenney</h3>
				<p>Creative Director | Co-founder</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/matt.png' alt='Matt Prouty' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Matthew Prouty</h3>
				<p>Sales Associate</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture src='/images/team/stefen.png' alt='Stefen Phelps' loading='lazy' placeholder='tracedSVG' />
				<h3 class='h5'>Stefen Phelps</h3>
				<p>Software Engineer | Co-founder</p>
			</div>
		</div>
	</div>
</section>
