---
import { Picture } from 'astro-imagetools/components';
---

<section class='team'>
	<div class='wrapper'>
		<div class='team-badge'>
			<div class='team-badge-media'>
				<Picture src='/images/stay-salty-patch.png' alt='Stay salty patch' loading='lazy' placeholder='tracedSVG' />
			</div>
			<div class='team-badge-text'>
				<p>
					<i>“Stay Salty”</i> is our creative agency's way of saying that we <em>add flavor</em> and <em>personality</em
					> to everything we do. Our work brings out the best in our clients' projects and helps them stand out in a sea
					of competitors. We're passionate about crafting unique and impactful designs, campaigns, and strategies that leave
					a lasting impression on our clients' audiences.
				</p>
				<p>
					So when we say <i>“Stay Salty,”</i> we're encouraging our clients to embrace their distinctive flavors and allow
					us to help them enhance and amplify those qualities. Our goal is to be the secret ingredient that makes our clients'
					brands more <i>memorable</i> and <i>successful</i>.
				</p>
			</div>
		</div>
		<h2 id='team'>Meet the team</h2>
		<div class='team-grid'>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/andrew.jpg'
					alt='Andrew Prouty'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Andrew Prouty</h3>
				<p>Project Manager</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/brandon.jpg'
					alt='Brandon Berlew'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Brandon Berlew</h3>
				<p>Creative Producer</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/jude.jpg'
					alt='Jude House'
					loading='lazy'
					placeholder='tracedSVG'
					width={807}
					height={1075}
				/>
				<h3 class='h5'>Jude House</h3>
				<p>Marketing Specialist</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/jessica.jpg'
					alt='Jessica Kenney'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Jessica Kenney</h3>
				<p>Accounting & HR</p>
			</div>
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/luke.jpg'
					alt='Luke Kenney'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Luke Kenney</h3>
				<p>Creative Director | Co-founder</p>
			</div>
			<!-- <div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/matt.jpg'
					alt='Matt Prouty'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Matthew Prouty</h3>
				<p>Sales Associate</p>
			</div> -->
			<div class='team-grid-item' data-lg-reveal='layer-to-bottom'>
				<Picture
					src='/images/team/stefen.jpg'
					alt='Stefen Phelps'
					loading='lazy'
					placeholder='tracedSVG'
					width={890}
					height={1188}
				/>
				<h3 class='h5'>Stefen Phelps</h3>
				<p>Software Engineer | Co-founder</p>
			</div>
			<button class='button button--skeleton'>☠️</button>
			<button class='button button--disco'>🪩</button>
		</div>
	</div>
</section>
<script>
	document.addEventListener('astro:page-load', () => {
		// team page easter eggs
		const skeleton = document.querySelector('.button--skeleton');
		const team = document.querySelector('.team');
		
		skeleton?.addEventListener('click', function () {
			team.classList.toggle('skulls');
		});
		
		const disco = document.querySelector('.button--disco');
		disco?.addEventListener('click', function () {
			team.classList.toggle('dance');
		});
	});
</script>
<style lang="scss">
	.team {
		text-align: center;
		padding-bottom: 8rem;
		position: relative;
		.button {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 4rem;
			&--skeleton {
				right: 0;
			}
			&--disco {
				left: 0;
			}
		}
		h2 {
			max-width: none;
			margin: 12rem 0 4rem 0;
			@media (max-width: 767px) {
				margin-top: 5rem;
			}
		}
		&-badge {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			align-items: center;
			margin-top: 12rem;
			&-media {
				flex: 1 1 400px;
			}
			&-text {
				flex: 1 1 400px;
				text-align: left;
			}
		}
		&-grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2rem;
			@media (max-width: 800px) {
				grid-template-columns: 1fr 1fr;
			}
			@media (max-width: 400px) {
				grid-template-columns: 1fr;
			}
			&-item {
				picture {
					background: var(--light-green);
				}
			}
			h3 {
				margin: 1rem 0 0 0;
			}
			p {
				margin: 0;
			}
		}
		&.skulls {
			picture {
				img {
					opacity: 0;
				}
				&:after {
					opacity: 1 !important;
				}
			}
		}
		&.dance {
			.team-grid-item {
				picture {
					animation: 5s disco infinite linear;
				}
				&:nth-child(2) {
					picture {
						animation-delay: -1s;
					}
				}
				&:nth-child(3) {
					picture {
						animation-delay: -2s;
					}
				}
				&:nth-child(4) {
					picture {
						animation-delay: -4s;
					}
				}
				&:nth-child(5) {
					picture {
						animation-delay: -3s;
					}
				}
				&:nth-child(6) {
					picture {
						animation-delay: -4.5s;
					}
				}
				&:nth-child(7) {
					picture {
						animation-delay: -5.5s;
					}
				}
			}
		}
	}
	@keyframes disco {
		0% {
			background: var(--purple);
		}
		13% {
			background: var(--light-teal);
		}
		25% {
			background: var(--green);
		}
		37% {
			background: var(--light-purple);
		}
		50% {
			background: var(--teal);
		}
		62% {
			background: var(--red);
		}
		74% {
			background: var(--black);
		}
		87% {
			background: var(--light-green);
		}
		100% {
			background: var(--light-red);
		}
	}
</style>
