---
import { Picture } from 'astro:assets';
---

<section class="team">
  <div class="wrapper">
    <h2 id="team">The People Behind Kelp</h2>
    <hr />
    <div class="team-grid">
      <div class="team-grid-member" id="andrew">
        <video transition:name="video-andrew" src="/videos/team/andrew.mp4"></video>
        <h3 class="h4" transition:name="name-andrew"><a href="/about/andrew/">Andrew Prouty</a></h3>
        <p transition:name="title-andrew">Project Manager</p>
      </div>
      <div class="team-grid-member" id="brandon">
        <video transition:name="video-brandon" src="/videos/team/brandon.mp4"></video>
        <h3 class="h4" transition:name="name-brandon"><a href="/about/brandon/">Brandon Berlew</a></h3>
        <p transition:name="title-brandon">Creative Producer</p>
      </div>
      <div class="team-grid-member" id="jude">
        <video transition:name="video-jude" src="/videos/team/jude.mp4"></video>
        <h3 class="h4" transition:name="name-jude"><a href="/about/jude/">Jude House</a></h3>
        <p class="team-grid-member-text-position" transition:name="title-jude">Marketing Specialist</p>
      </div>
      <div class="team-grid-member" id="luke">
        <video transition:name="video-luke" src="/videos/team/luke.mp4"></video>
        <h3 class="h4" transition:name="name-luke"><a href="/about/luke/">Luke Kenney</a></h3>
        <p transition:name="title-luke">Creative Director / Co-founder</p>
      </div>
      <div class="team-grid-member" id="stefen">
        <video transition:name="video-stefen" src="/videos/team/stefen.mp4"></video>
        <h3 class="h4" transition:name="name-stefen"><a href="/about/stefen/">Stefen Phelps</a></h3>
        <p transition:name="title-stefen">Developer / Co-founder</p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .team {
    margin: 8rem 0;
    h2 {
      text-align: center;
      max-width: none;
    }
    hr {
      margin: 2rem auto 5rem;
      max-width: 400px;
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem 3rem;
      @media (max-width: 1080px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
      &-member {
        position: relative;
        h3 {
          margin-bottom: 0;
        }
        p {
          margin: 0;
        }
        a {
          text-decoration: none;
          &::after {
            content: "";
            position: absolute;
            inset: 0;
          }
        }
      }
    }
  }
</style>
