---
import { Picture } from "astro-imagetools/components";
---

<section class='team'>
	<div class='wrapper'>
		<h2>Our Team</h2>
		<div class='team-grid' data-lg-reveal='layer-to-bottom' data-lg-reveal-stagger='0.1'>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/05/Andrew@2x.jpg'
					alt='Andrew Prouty'
					loading='lazy'
				/>
				<h3 class='h5'>Andrew Prouty</h3>
				<p>Project Manager</p>
			</div>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/05/Brandon@2x.jpg'
					alt='Brandon Berlew'
					loading='lazy'
				/>
				<h3 class='h5'>Brandon Berlew</h3>
				<p>Creative Producer</p>
			</div>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/12/Matt.png'
					alt='Matt Prouty'
					loading='lazy'
				/>
				<h3 class='h5'>Jessica Kenney</h3>
				<p>Accounting & HR</p>
			</div>
			<div class='team-grid-item'>
				<Picture src='/images/team/kevin.jpg' alt='Kevin Walters' loading='lazy' />
				<h3 class='h5'>Kevin Walters</h3>
				<p>Marketing Manager</p>
			</div>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/05/Luke@2x.jpg'
					alt='Luke Kenney'
					loading='lazy'
				/>
				<h3 class='h5'>Luke Kenney</h3>
				<p>Creative Director | Co-founder</p>
			</div>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/12/Matt.png'
					alt='Matt Prouty'
					loading='lazy'
				/>
				<h3 class='h5'>Matthew Prouty</h3>
				<p>Sales Associate</p>
			</div>
			<div class='team-grid-item'>
				<Picture
					src='https://www.kelp.agency/wp-content/uploads/2021/05/Stefen@2x-1.jpg'
					alt='Stefen Phelps'
					loading='lazy'
				/>
				<h3 class='h5'>Stefen Phelps</h3>
				<p>Software Engineer | Co-founder</p>
			</div>
		</div>
	</div>
</section>
