---
---

<section class="wrapper services">
  <h2>Our Services</h2>
  <div class="service service--content">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/content-creation.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax><a href="/services/content-creation/" transition:name="Content Creation">Content Creation</a></h3>
    </div>
    <div class="service-right">
      <p>You can’t build a house without a foundation. You can’t build a great brand without great content.</p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right"><a href="/services/photography/" transition:name="Photography">Photography</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/video/" transition:name="Video">Video</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/copywriting/" transition:name="Copywriting">Copywriting</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/print-design/" transition:name="Print Design">Print Design</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/social-media-content/" transition:name="Social Media Content">Social Media Content</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/branding/" transition:name="Branding">Branding</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/apparel-design/" transition:name="Apparel Design">Apparel Design</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/digital-design/" transition:name="Digital Design">Digital Design</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/infographics/" transition:name="Infographics">Infographics</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/applications/" transition:name="Applications">Applications</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/motion-graphics/" transition:name="Motion Graphics">Motion Graphics</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/website-development/" transition:name="Web Design and Development">Web Design and Development</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/ecommerce/" transition:name="Ecommerce">Ecommerce</a></li>
      </ul>
    </div>
  </div>
  <div class="service service--marketing">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/digital-marketing.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax><a href="/services/digital-marketing/" transition:name="Digital Marketing">Digital Marketing</a></h3>
    </div>
    <div class="service-right">
      <p>
        You can’t just open the doors and expect people to come. You have to promote yourself and make sure you’re on
        the radar of people who might be interested in what you have to offer.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right"><a href="/services/audience-targeting/" transition:name="Audience Targeting">Audience Targeting</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/campaign-management/" transition:name="Campaign Management">Campaign Management</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/social-ppc/" transition:name="Social Campaigns & PPC">Social Campaigns & PPC</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/reporting/" transition:name="Reporting">Reporting</a></li>
      </ul>
    </div>
  </div>
  <div class="service service--ongoing">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.3">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/ongoing-support.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax><a href="/services/ongoing-support/" transition:name="Ongoing Support">Ongoing Support</a></h3>
    </div>
    <div class="service-right">
      <p>
        The journey has not ended… it is just beginning! Keep your website and assets in shipshape with a helping hand.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right"><a href="/services/ongoing-retainers/" transition:name="Ongoing Retainers">Ongoing Retainers</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/web-hosting/" transition:name="Web Hosting">Web Hosting</a></li>
        <li data-lg-reveal="layer-to-right"><a href="/services/website-support/" transition:name="Website Support">Website Support & Maintenance</a></li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  .service {
    margin: 10rem auto 8rem;
    display: flex;
    gap: 1rem 5rem;
    flex-wrap: wrap;
    max-width: 1000px;
    @media (min-width: 768px) {
      padding-left: 70px;
      padding-right: 70px;
    }
    &s {
      padding: 6rem 0;
      @media (max-width: 767px) {
        padding: 3rem 0 5rem;
      }
    }
    &-square {
      width: 108px;
      height: 108px;
      display: block;
      position: absolute;
      right: 0;
      z-index: -1;
      top: 2rem;
      background: var(--light-teal);
      .service--marketing & {
        background: var(--light-green);
        right: 1rem;
      }
      .service--ongoing & {
        background: var(--light-red);
      }
    }
    &-icon {
      width: 140px;
      margin-right: -1rem;
      margin-left: auto;
    }
    &-left {
      flex: 0 1 260px;
      position: relative;
      text-align: right;
      margin-top: -5rem;
      h3 {
        text-align: left;
        margin: 0;
      }
    }
    &-right {
      flex: 1 1 400px;
      .lg-reveal--layer-to-right:after {
        background-color: var(--light-teal);
      }
      .service--marketing & {
        .lg-reveal--layer-to-right:after {
          background-color: var(--light-green);
        }
      }
      .service--ongoing & {
        .lg-reveal--layer-to-right:after {
          background-color: var(--light-red);
        }
      }
      ul {
        column-count: 2;
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        li {
          line-height: 1.2;
          font-weight: bold;
          + li {
            margin-top: 1rem;
          }
        }
      }
    }
  }
</style>
