---

---

<section class="wrapper services">
  <h2>Our Services</h2>
  <div class="service service--content">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/digital-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax>Branding & Design</h3>
    </div>
    <div class="service-right">
      <p>
        This is what defines your organization's soul. Apply your organization's strategy into the real world with great
        branding and overall design. This sets the tone and provides a standard for all things ahead.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right">
          <a href="/services/apparel-design/" transition:name="Apparel Design">Apparel Design</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/branding/" transition:name="Branding">Company Branding</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/digital-design/" transition:name="Digital Design">Digital Design</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/infographics/" transition:name="Infographics">Infographics</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/print-design/" transition:name="Print Design">Print Design</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/website-development/" transition:name="Web Design and Development">Web Design</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="service service--websites">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/web-design.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax>Websites</h3>
    </div>
    <div class="service-right">
      <p>
        Your website is the HQ of your digital brand. It's where most—if not all—your marketing points back to. It
        should nurture visitors into leads or even straight to customers.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right">
          <a href="/services/applications/" transition:name="Applications">App Development</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/website-development/" transition:name="Web Design and Development">Web Development</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/ecommerce/" transition:name="Ecommerce">Ecommerce</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="service service--marketing">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/digital-marketing.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax>Marketing</h3>
    </div>
    <div class="service-right">
      <p>
        You can’t just open the doors and expect people to come. You have to promote yourself and make sure you’re on
        the radar of people who might be interested in what you have to offer.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right">
          <a href="/services/audience-targeting/" transition:name="Audience Targeting">Audience Targeting</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/campaign-management/" transition:name="Campaign Management">Campaign Management</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/copywriting/" transition:name="Copywriting">Copywriting</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/digital-marketing/" transition:name="Digital Marketing">Digital Marketing</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/social-ppc/" transition:name="Social Campaigns & PPC">Social Campaigns & PPC</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/social-media-content/" transition:name="Social Media Content">Social Media Content</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/reporting/" transition:name="Reporting">Reporting</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="service service--content">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.2">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/photography.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax>Media</h3>
    </div>
    <div class="service-right">
      <p>
        Great media is like the backbone of a great brand. It tells the visual story in one of the most compelling ways
        possible.
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right">
          <a href="/services/motion-graphics/" transition:name="Motion Graphics">Motion Graphics</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/photography/" transition:name="Photography">Photography</a>
        </li>
        <li data-lg-reveal="layer-to-right"><a href="/services/video/" transition:name="Video">Videography</a></li>
      </ul>
    </div>
  </div>
  <div class="service service--ongoing">
    <div class="service-left">
      <div data-lg-parallax data-lg-parallax-amplitude="0.3">
        <div class="service-square" data-lg-reveal="layer-to-right"></div>
      </div>
      <div
        class="service-icon"
        data-lg-reveal="fade"
        data-lg-reveal-delay=".02"
        data-lg-parallax
        data-lg-parallax-amplitude="0.4"
        data-lg-lottie="/animations/ongoing-support.json"
        data-lg-lottie-autoplay="true"
        data-lg-lottie-loop="true"
        data-lg-lottie-lazy="true"
      >
      </div>
      <h3 data-lg-parallax>Ongoing Support</h3>
    </div>
    <div class="service-right">
      <p>
        Need support on a monthly basis? Any of our services can be offered at a discounted rate by committing to a
        minimum amount of time each month. Here are a few common ways to work with us continually:
      </p>
      <ul data-lg-reveal data-lg-reveal-stagger="0.1">
        <li data-lg-reveal="layer-to-right">
          <a href="/services/ongoing-retainers/" transition:name="Ongoing Retainers">Ongoing Retainers</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/web-hosting/" transition:name="Web Hosting">Web Hosting</a>
        </li>
        <li data-lg-reveal="layer-to-right">
          <a href="/services/website-support/" transition:name="Website Support">Web Support & Maintenance</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  .service {
    margin: 10rem auto 8rem;
    display: flex;
    gap: 1rem 5rem;
    flex-wrap: wrap;
    max-width: 1100px;
    @media (min-width: 768px) {
      padding-left: 70px;
      padding-right: 70px;
    }
    &s {
      padding: 6rem 0;
      @media (max-width: 767px) {
        padding: 3rem 0 5rem;
      }
    }
    &-square {
      width: 108px;
      height: 108px;
      display: block;
      position: absolute;
      right: 0;
      z-index: -1;
      top: 2rem;
      background: var(--light-teal);
      .service--marketing & {
        background: var(--light-green);
        right: 1rem;
      }
      .service--ongoing & {
        background: var(--light-red);
      }
    }
    &-icon {
      width: 140px;
      margin-right: -1rem;
      margin-left: auto;
    }
    &-left {
      flex: 1 1 250px;
      position: relative;
      text-align: right;
      margin-top: -5rem;
      max-width: 300px;
      h3 {
        text-align: left;
        margin: 0;
        font-weight: bold;
      }
    }
    &-right {
      flex: 1 1 400px;
      .lg-reveal--layer-to-right:after {
        background-color: var(--light-teal);
      }
      .service--marketing & {
        .lg-reveal--layer-to-right:after {
          background-color: var(--light-green);
        }
      }
      .service--ongoing & {
        .lg-reveal--layer-to-right:after {
          background-color: var(--light-red);
        }
      }
      ul {
        column-count: 2;
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        li {
          line-height: 1.2;
          font-weight: bold;
          + li {
            margin-top: 1rem;
          }
        }
      }
    }
  }
</style>
