---
---

<section class="testimonials">
  <div class="wrapper">
    <h2>What Our Clients Say</h2>
    <blockquote>
      <div class="testimonials-content" data-lg-reveal="layer-to-right">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.8 67.3" width="90.8" height="67.3">
          <path
            d="M42.1 9.6q-12.4 5.5-16.7 10.5A16 16 0 0 0 21 30.7a8.9 8.9 0 0 0 2.6 6.5 30 30 0 0 0 6 4.7q3.5 2.1 6.1 4t2.7 3.7a17.1 17.1 0 0 1-5 12.6q-5 5-13.5 5-8.9 0-14.4-5.6T0 46a45.2 45.2 0 0 1 3.5-18.2 40 40 0 0 1 11.7-14.8Q23.4 6 37.4 0Zm48.6 0Q78.5 15.1 74 20.1a16 16 0 0 0-4.4 10.6 8.9 8.9 0 0 0 2.7 6.5 30 30 0 0 0 6 4.7q3.5 2.1 6 4t2.7 3.7a17.1 17.1 0 0 1-5 12.6q-5 5-13.5 5-8.9 0-14.4-5.6T48.6 46a45.2 45.2 0 0 1 3.5-18.2 40 40 0 0 1 11.7-14.8Q72 6 86 0Z"
            fill="#a1e39a"></path>
        </svg>
        <p>
          We’ve been in partnership with Kelp for over a year now. I could not be happier with how the partnership has
          evolved and been managed in that time. I reached out, having found the team giving advice on the Hubspot
          Community, as they seemed experts on the Hubspot CMS. This has proven true. The team is also responsive,
          respectful of deadlines and transparent – very important when working from London. Highly recommended.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.8 67.3" width="90.8" height="67.3">
          <path
            d="M48.6 57.6Q61 52.1 65.4 47.1a16 16 0 0 0 4.3-10.6 8.9 8.9 0 0 0-2.6-6.4 30 30 0 0 0-6-4.8q-3.5-2-6.1-3.9t-2.6-3.8a17.1 17.1 0 0 1 5-12.6q5-5 13.5-5 8.8 0 14.3 5.6t5.5 15.8a45.2 45.2 0 0 1-3.5 18.2 40 40 0 0 1-11.6 14.8Q67.4 61 53.4 67.3ZM0 57.6q12.4-5.5 16.8-10.5A16 16 0 0 0 21 36.5a8.9 8.9 0 0 0-2.6-6.4 30 30 0 0 0-6-4.8q-3.5-2-6.1-3.9t-2.7-3.8A17.1 17.1 0 0 1 8.7 5q5-5 13.5-5 9 0 14.4 5.6t5.5 15.8a45.2 45.2 0 0 1-3.5 18.2A40 40 0 0 1 27 54.4Q18.7 61 4.7 67.3Z"
            fill="#a1e39a"></path>
        </svg>
      </div>
      <div class="testimonials-meta" data-lg-reveal="layer-to-left" data-lg-reveal-delay=".2">
        <img src="/images/conversocial-logo.svg" alt="Conversocial Logo" loading="lazy" width="150" height="32" />
        <cite>
          <strong>Harry Rollason</strong>
          <span>Marketing Director</span>
        </cite>
      </div>
    </blockquote>
  </div>
</section>

<style lang="scss">
  .testimonials {
    padding: 8rem 0;
    @media (max-width: 767px) {
      padding: 5rem 0 2rem;
    }
    text-align: center;
    background: #f4f4f4;
    overflow: hidden;
    .lg-reveal--layer:after,
    .lg-reveal--layer-to-top:after,
    .lg-reveal--layer-to-right:after,
    .lg-reveal--layer-to-bottom:after,
    .lg-reveal--layer-to-left:after {
      background-color: var(--light-green);
    }
    h2 {
      max-width: 900px;
      margin: auto;
    }
    blockquote {
      margin: 3rem auto;
      &::before,
      &::after {
        display: none;
      }
    }
    &-content {
      flex: 1 1 400px;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      @media (max-width: 767px) {
        gap: 1rem;
      }
      p {
        font-size: var(--step-1);
        font-weight: 300;
        line-height: 1.5;
      }
      svg {
        flex: 1 0 40px;
        @media (max-width: 400px) {
          flex-basis: 20px;
          height: 20px;
        }
        &:last-child {
          margin-top: auto;
          margin-bottom: 2rem;
        }
      }
    }
    &-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      img {
        flex: 0 1 150px;
      }
      cite {
        flex: 0 1 auto;
        border-left: 2px solid;
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        font-style: normal;
        line-height: 1.2;
        text-align: left;
        &::before {
          display: none;
        }
        strong {
          font-size: 1.2rem;
          display: block;
          font-family: var(--sans-serif);
          font-weight: 500;
        }
        span {
          display: block;
          margin-top: 0.25rem;
        }
      }
    }
  }
</style>
