---
---

<div class="testimonials">
	<div class="wrapper">
		<h2>What Our Clients Say</h2>
		<blockquote>
			The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox
			whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived.
		</blockquote>
	</div>
</div>

<style lang="scss">
	.testimonials {
		padding: 6rem 0;
		text-align: center;
		background: #f4f4f4;
	}
</style>
