---

---

<section class="testimonials">
  <div class="wrapper">
    <h2>What Our Clients Say</h2>
    <blockquote>
      <div class="testimonials-content" data-lg-reveal="layer-to-right">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.8 67.3" width="90.8" height="67.3">
          <path
            d="M42.1 9.6q-12.4 5.5-16.7 10.5A16 16 0 0 0 21 30.7a8.9 8.9 0 0 0 2.6 6.5 30 30 0 0 0 6 4.7q3.5 2.1 6.1 4t2.7 3.7a17.1 17.1 0 0 1-5 12.6q-5 5-13.5 5-8.9 0-14.4-5.6T0 46a45.2 45.2 0 0 1 3.5-18.2 40 40 0 0 1 11.7-14.8Q23.4 6 37.4 0Zm48.6 0Q78.5 15.1 74 20.1a16 16 0 0 0-4.4 10.6 8.9 8.9 0 0 0 2.7 6.5 30 30 0 0 0 6 4.7q3.5 2.1 6 4t2.7 3.7a17.1 17.1 0 0 1-5 12.6q-5 5-13.5 5-8.9 0-14.4-5.6T48.6 46a45.2 45.2 0 0 1 3.5-18.2 40 40 0 0 1 11.7-14.8Q72 6 86 0Z"
            fill="#a1e39a"></path>
        </svg>
        <p>
          Working with Kelp has been an absolute pleasure. I’ve truly enjoyed our partnership over the years, and I’m
          incredibly grateful for everything the team helped facilitate for Elev8 Fun. Their support, creativity, and
          professionalism made a meaningful impact on our growth, and I sincerely look forward to the opportunity to
          work together again in the future.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.8 67.3" width="90.8" height="67.3">
          <path
            d="M48.6 57.6Q61 52.1 65.4 47.1a16 16 0 0 0 4.3-10.6 8.9 8.9 0 0 0-2.6-6.4 30 30 0 0 0-6-4.8q-3.5-2-6.1-3.9t-2.6-3.8a17.1 17.1 0 0 1 5-12.6q5-5 13.5-5 8.8 0 14.3 5.6t5.5 15.8a45.2 45.2 0 0 1-3.5 18.2 40 40 0 0 1-11.6 14.8Q67.4 61 53.4 67.3ZM0 57.6q12.4-5.5 16.8-10.5A16 16 0 0 0 21 36.5a8.9 8.9 0 0 0-2.6-6.4 30 30 0 0 0-6-4.8q-3.5-2-6.1-3.9t-2.7-3.8A17.1 17.1 0 0 1 8.7 5q5-5 13.5-5 9 0 14.4 5.6t5.5 15.8a45.2 45.2 0 0 1-3.5 18.2A40 40 0 0 1 27 54.4Q18.7 61 4.7 67.3Z"
            fill="#a1e39a"></path>
        </svg>
      </div>
      <div class="testimonials-meta" data-lg-reveal="layer-to-left" data-lg-reveal-delay=".2">
        <svg xmlns="http://www.w3.org/2000/svg" height="42" viewBox="0 0 212.3 73.5">
          <title>Elev8 FUN Indoor Adventure Parks 2</title>
          <path
            fill="#000"
            d="M18.6 11.6a18.6 18.6 0 1 0 8.8 35 3.6 3.6 0 0 0 1.7-2.2 3.5 3.5 0 0 0-.3-2.7 3.6 3.6 0 0 0-4.8-1.4 11.3 11.3 0 0 1-5.4 1.3A11.4 11.4 0 0 1 8 34l-.2-.3h26a3.6 3.6 0 0 0 3.5-3.5 18.6 18.6 0 0 0-18.6-18.6Zm-10.9 15 .2-.3a11.4 11.4 0 0 1 21.5 0v.3H7.8Z"
            data-name="Path 1738"></path>
          <path
            fill="#000"
            d="M72.1 11.6a18.6 18.6 0 0 0-18.5 18.6 3.6 3.6 0 0 0 3.5 3.5h30a3.6 3.6 0 0 0 3.6-3.5A18.6 18.6 0 0 0 72 11.6Zm-10.9 15 .2-.3a11.4 11.4 0 0 1 21.5 0v.3Z"
            data-name="Path 1739"></path>
          <path
            fill="#00a6ff"
            d="M77.5 40.2a11.5 11.5 0 0 1-10.8 0 3.5 3.5 0 0 0-1.7-.4 3.4 3.4 0 0 0-1 .2 3.5 3.5 0 0 0-2 1.7 3.6 3.6 0 0 0-.4 2.7 3.5 3.5 0 0 0 1.8 2.1 18.6 18.6 0 0 0 17.5 0 3.6 3.6 0 0 0 1.7-2 3.5 3.5 0 0 0-.3-2.8 3.6 3.6 0 0 0-4.8-1.5Z"
            data-name="Path 1740"></path>
          <path
            fill="#000"
            d="M53 41.5a5.8 5.8 0 0 1-4-1.4 5.2 5.2 0 0 1-1.7-3.4V3.6a3.6 3.6 0 0 0-7.1 0v33.6a12.2 12.2 0 0 0 4.1 8.3 12.8 12.8 0 0 0 9 3.1 3.5 3.5 0 0 0 3.4-3.7 3.6 3.6 0 0 0-1.2-2.4 3.6 3.6 0 0 0-2.5-1Z"
            data-name="Path 1741"></path>
          <path
            fill="#000"
            d="M109.2 46 120.5 16a3.6 3.6 0 0 0-6.6-2.5l-8.1 21.3-8.5-21.4a3.5 3.5 0 0 0-3.3-2.2 3.6 3.6 0 0 0-1.3.3 3.6 3.6 0 0 0-2 4.6L102.5 46a3.6 3.6 0 0 0 3.3 2.3v.2-.2a3.6 3.6 0 0 0 3.4-2.3Z"
            data-name="Path 1742"></path>
          <path
            fill="#00a6ff"
            d="m148.8 28.4-.2-.1.2-.2a9.3 9.3 0 0 0 3.5-7c0-6-6.5-10.8-14.5-10.8s-14.5 4.8-14.5 10.8a9.3 9.3 0 0 0 3.6 7l.2.2-.2.1a10.3 10.3 0 0 0-4.7 8.3c0 6.4 7 11.6 15.6 11.6s15.6-5.2 15.6-11.6a10.3 10.3 0 0 0-4.6-8.3Zm-11-12.1c4 0 7.2 2.1 7.2 4.8s-3.2 4.8-7.2 4.8-7.2-2.2-7.2-4.8 3.3-4.8 7.2-4.8Zm0 26.2c-4.3 0-7.8-2.6-7.8-5.8s3.5-5.8 7.8-5.8 7.9 2.6 7.9 5.8-3.6 5.8-7.9 5.8Z"
            data-name="Path 1743"></path>
          <path
            fill="#000"
            d="M165.2 36.3v.5a1.7 1.7 0 0 0 1.7 1.8h4.3a1.7 1.7 0 0 1 1.7 1.7 1.7 1.7 0 0 1-1.7 1.7h-4.3a1.7 1.7 0 0 0-1.7 1.7v3a1.7 1.7 0 0 1-1.8 1.6h-.9a1.7 1.7 0 0 1-1.7-1.7V33a1.7 1.7 0 0 1 1.7-1.7h9.3a1.7 1.7 0 0 1 1.7 1.7 1.7 1.7 0 0 1-1.7 1.7h-5a1.7 1.7 0 0 0-1.7 1.7Z"
            data-name="Path 1744"></path>
          <path
            fill="#000"
            d="M192.5 41c0 4.6-3 7.5-7.8 7.5s-8-2.9-8-7.4v-7.8A2.2 2.2 0 0 1 179 31a2.2 2.2 0 0 1 2.2 2.2V41a3.5 3.5 0 0 0 3.6 3.7c2 0 3.5-1.4 3.5-3.7v-7.8a2.2 2.2 0 0 1 2.1-2.2 2.2 2.2 0 0 1 2.2 2.2V41Z"
            data-name="Path 1745"></path>
          <path
            fill="#000"
            d="m207.8 47.5-6.4-8.6a.5.5 0 0 0-.9.3v7a2 2 0 0 1-2 2.1 2 2 0 0 1-2.1-2V33.2a2 2 0 0 1 2-2h.8a2 2 0 0 1 1.7.7l6.4 8.6a.5.5 0 0 0 .9-.3v-7a2 2 0 0 1 2-2 2 2 0 0 1 2 2v13a2 2 0 0 1-2 2.1h-.8a2 2 0 0 1-1.6-.8Z"
            data-name="Path 1746"></path>
          <path fill="#000" d="M0 62.9h2.6v10.5H0z"></path>
          <path fill="#000" d="m11.2 68.3-4-5.4h-2v10.5h2.5v-5.6l4 5.4.1.2h2V62.9h-2.6Z"></path>
          <path
            fill="#000"
            d="M22.8 63.6a6.2 6.2 0 0 0-3-.7h-3.4v10.5h3.5a6.2 6.2 0 0 0 2.9-.7 4.8 4.8 0 0 0 2-1.9 5.7 5.7 0 0 0 0-5.4 5 5 0 0 0-2-1.8Zm0 4.5a3.1 3.1 0 0 1-.3 1.6 2.6 2.6 0 0 1-1 1 3.1 3.1 0 0 1-1.6.3h-1v-5.8h1a3.1 3.1 0 0 1 1.6.4 2.4 2.4 0 0 1 1 1 3.2 3.2 0 0 1 .3 1.5Z"
            data-name="Path 1748"></path>
          <path
            fill="#000"
            d="M36.7 64.3A5.5 5.5 0 0 0 35 63a6 6 0 0 0-4.4 0 5.5 5.5 0 0 0-1.8 1.2 5.1 5.1 0 0 0-1.1 1.7 5.5 5.5 0 0 0-.4 2.1 5.2 5.2 0 0 0 .4 2.2 5.1 5.1 0 0 0 1.2 1.7 5.2 5.2 0 0 0 1.7 1.1 6 6 0 0 0 4.4 0 5.5 5.5 0 0 0 1.7-1.1 5.1 5.1 0 0 0 1.2-1.7 5.7 5.7 0 0 0 0-4.3 5.1 5.1 0 0 0-1.2-1.7Zm-1 3.8a3.2 3.2 0 0 1-.2 1.2 2.9 2.9 0 0 1-.6 1 3 3 0 0 1-3.3.6 3 3 0 0 1-1-.6 2.6 2.6 0 0 1-.5-1 3.2 3.2 0 0 1-.3-1.2 3 3 0 0 1 .9-2.2 2.8 2.8 0 0 1 1-.6 3.3 3.3 0 0 1 2.3 0 2.7 2.7 0 0 1 .9.6 2.7 2.7 0 0 1 .6 1 3.2 3.2 0 0 1 .2 1.2Z"
            data-name="Path 1749"></path>
          <path
            fill="#000"
            d="M49.8 64.3A5.5 5.5 0 0 0 48 63a6 6 0 0 0-4.4 0 5.5 5.5 0 0 0-1.7 1.2 5.1 5.1 0 0 0-1.2 1.7 5.5 5.5 0 0 0-.4 2.1 5.2 5.2 0 0 0 .4 2.2A5.1 5.1 0 0 0 42 72a5.2 5.2 0 0 0 1.8 1.1 6 6 0 0 0 4.3 0 5.5 5.5 0 0 0 1.8-1.1 5.1 5.1 0 0 0 1.1-1.7 5.7 5.7 0 0 0 0-4.3 5.1 5.1 0 0 0-1.1-1.7Zm-1 3.8a3.2 3.2 0 0 1-.3 1.2 2.9 2.9 0 0 1-.6 1 3 3 0 0 1-3.2.6 3 3 0 0 1-1-.6 2.6 2.6 0 0 1-.6-1 3.2 3.2 0 0 1-.2-1.2 3 3 0 0 1 .8-2.2 2.8 2.8 0 0 1 1-.6 3.3 3.3 0 0 1 2.3 0 2.7 2.7 0 0 1 1 .6 2.7 2.7 0 0 1 .5 1 3.2 3.2 0 0 1 .3 1.2Z"
            data-name="Path 1750"></path>
          <path
            fill="#000"
            d="M61 68.2a3.4 3.4 0 0 0 .5-1.9 3.5 3.5 0 0 0-.5-1.9 3.1 3.1 0 0 0-1.4-1.1 4.6 4.6 0 0 0-2-.4h-4v10.5h2.6v-3.6h1l2.1 3.6h3l-2.4-4.2a3 3 0 0 0 1-1Zm-2.2-2.5a1.2 1.2 0 0 1 .1.6 1.2 1.2 0 0 1-.1.6 1 1 0 0 1-.4.4 1.4 1.4 0 0 1-.7.1h-1.5v-2.2h1.5a1.3 1.3 0 0 1 .7.1 1 1 0 0 1 .4.4Z"
            data-name="Path 1751"></path>
          <path fill="#000" d="M73.4 62.9h-3.1l-3.5 10.5h2.8l.6-2h3.3l.7 2H77L73.5 63v-.2Zm-.7 6.1H71l.9-2.7Z"></path>
          <path
            fill="#000"
            d="M85.1 63.6a6.2 6.2 0 0 0-3-.7h-3.4v10.5h3.5a6.1 6.1 0 0 0 2.9-.7 4.9 4.9 0 0 0 2-1.9 5.7 5.7 0 0 0 0-5.4 5 5 0 0 0-2-1.8Zm0 4.5a3.1 3.1 0 0 1-.3 1.6 2.6 2.6 0 0 1-1 1 3.2 3.2 0 0 1-1.6.3h-1v-5.8h1a3.2 3.2 0 0 1 1.6.4 2.4 2.4 0 0 1 1 1A3.1 3.1 0 0 1 85 68Z"
            data-name="Path 1753"></path>
          <path fill="#000" d="m93.7 69.6-2.1-6.7h-2.8l3.5 10.3v.2h2.8l3.6-10.5h-2.8Z"></path>
          <path fill="#000" d="M100.4 73.4h7.2V71H103v-1.7h4.4V67H103v-1.8h4.6V63h-7.2Z"></path>
          <path fill="#000" d="m115.7 68.3-4.1-5.4h-2v10.5h2.6v-5.6l4 5.4v.2h2V62.9h-2.5Z"></path>
          <path fill="#000" d="M120.1 65.2h2.5v8.2h2.6v-8.2h2.5V63H120Z"></path>
          <path
            fill="#000"
            d="M135.5 69.3a2 2 0 0 1-.3 1 1.6 1.6 0 0 1-.6.6 1.9 1.9 0 0 1-1.8 0 1.7 1.7 0 0 1-.6-.6 2 2 0 0 1-.2-1V63h-2.6v6.6a3.9 3.9 0 0 0 2.1 3.5 4.9 4.9 0 0 0 4.4 0 4 4 0 0 0 2.1-3.6V63h-2.6v6.4Z"
            data-name="Path 1758"></path>
          <path
            fill="#000"
            d="M147.8 68.2a3.4 3.4 0 0 0 .5-1.9 3.5 3.5 0 0 0-.5-1.9 3.1 3.1 0 0 0-1.3-1.1 4.6 4.6 0 0 0-2-.4h-4v10.5h2.6v-3.6h1l2 3.6h3l-2.4-4.2a3 3 0 0 0 1.1-1Zm-2.2-2.5a1.2 1.2 0 0 1 .2.6 1.2 1.2 0 0 1-.2.6 1 1 0 0 1-.4.4 1.4 1.4 0 0 1-.6.1H143v-2.2h1.5a1.3 1.3 0 0 1 .6.1 1 1 0 0 1 .4.4Z"
            data-name="Path 1759"></path>
          <path fill="#000" d="M150.7 73.4h7.2V71h-4.6v-1.7h4.4V67h-4.4v-1.8h4.6V63h-7.2Z"></path>
          <path
            fill="#000"
            d="M169.7 63.3a4.6 4.6 0 0 0-2-.4h-4v10.5h2.5v-3.6h1.5a4.6 4.6 0 0 0 2-.4 3.1 3.1 0 0 0 1.3-1.2 3.4 3.4 0 0 0 .5-1.9 3.5 3.5 0 0 0-.5-1.9 3.1 3.1 0 0 0-1.3-1.1Zm-1 3.6a1 1 0 0 1-.3.4 1.4 1.4 0 0 1-.7.1h-1.5v-2.2h1.5a1.4 1.4 0 0 1 .7.1 1 1 0 0 1 .4.4 1.2 1.2 0 0 1 .1.6 1.2 1.2 0 0 1-.1.6Z"
            data-name="Path 1761"></path>
          <path fill="#000" d="M178.6 62.9h-3L172 73.4h2.8l.6-2h3.3l.7 2h2.8L178.7 63v-.2ZM178 69h-1.8l.9-2.7.9 2.7Z"
          ></path>
          <path
            fill="#000"
            d="M191.2 68.2a3.4 3.4 0 0 0 .6-1.9 3.5 3.5 0 0 0-.5-1.9 3.1 3.1 0 0 0-1.4-1.1 4.6 4.6 0 0 0-2-.4h-4v10.5h2.6v-3.6h1l2 3.6h3l-2.4-4.2a3.2 3.2 0 0 0 1.1-1Zm-2.2-2.5a1.2 1.2 0 0 1 .2.6 1 1 0 0 1-.2.6 1 1 0 0 1-.4.4 1.4 1.4 0 0 1-.6.1h-1.5v-2.2h1.5a1.3 1.3 0 0 1 .6.1 1 1 0 0 1 .4.4Z"
            data-name="Path 1763"></path>
          <path fill="#000" d="m199.7 62.9-3 3.6V63h-2.5v10.5h2.5v-3l1-1 2.3 4h3l-3.6-6.2L203 63Z"></path>
          <path
            fill="#000"
            d="m209.6 67.3-1.9-.7a1.2 1.2 0 0 1-.6-.3.7.7 0 0 1-.1-.4.8.8 0 0 1 .1-.5 1 1 0 0 1 .4-.2 1.6 1.6 0 0 1 .6-.1 2 2 0 0 1 1.1.3 2.1 2.1 0 0 1 .8 1l.1.2 2.1-1v-.2a3.8 3.8 0 0 0-1-1.4 4.1 4.1 0 0 0-1.3-1 4.7 4.7 0 0 0-1.8-.3 4.5 4.5 0 0 0-1.9.4 3.2 3.2 0 0 0-1.3 1.1 3 3 0 0 0-.5 1.7 2.8 2.8 0 0 0 .7 2 4 4 0 0 0 2 1.1l1.9.6a1.5 1.5 0 0 1 .5.3.6.6 0 0 1 .2.5.7.7 0 0 1-.1.4 1 1 0 0 1-.4.3 1.5 1.5 0 0 1-.7 0 2.2 2.2 0 0 1-1.3-.4 3 3 0 0 1-1-1.1v-.3l-2.2 1 .1.2a4.3 4.3 0 0 0 2.4 2.6 4.7 4.7 0 0 0 1.9.4 4.4 4.4 0 0 0 2-.4 3.2 3.2 0 0 0 1.3-1.2 3 3 0 0 0 .5-1.6 2.8 2.8 0 0 0-.7-2 4.1 4.1 0 0 0-1.9-1Z"
            data-name="Path 1765"></path>
          <path fill="#00a6ff" d="M210.7 57H1.5a1.5 1.5 0 0 1 0-3h209.2a1.5 1.5 0 0 1 0 3Z"></path>
        </svg>
        <cite>
          <strong>Caleb Williams</strong>
          <span>Director of Marketing</span>
        </cite>
      </div>
    </blockquote>
  </div>
</section>

<style lang="scss">
  .testimonials {
    padding: 8rem 0;
    text-align: center;
    background: #f4f4f4;
    overflow: hidden;
    @media (max-width: 767px) {
      padding: 5rem 0 2rem;
    }
    .lg-reveal--layer:after,
    .lg-reveal--layer-to-top:after,
    .lg-reveal--layer-to-right:after,
    .lg-reveal--layer-to-bottom:after,
    .lg-reveal--layer-to-left:after {
      background-color: var(--light-green);
    }
    h2 {
      max-width: 900px;
      margin: auto;
    }
    blockquote {
      margin: 3rem auto;
      &::before,
      &::after {
        display: none;
      }
    }
    &-content {
      flex: 1 1 400px;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      @media (max-width: 767px) {
        gap: 1rem;
      }
      p {
        font-size: var(--step-1);
        font-weight: 300;
        line-height: 1.5;
      }
      svg {
        flex: 1 0 40px;
        @media (max-width: 400px) {
          flex-basis: 20px;
          height: 20px;
        }
        &:last-child {
          margin-top: auto;
          margin-bottom: 2rem;
        }
      }
    }
    &-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      img {
        flex: 0 1 150px;
      }
      cite {
        flex: 0 1 auto;
        border-left: 2px solid;
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        font-style: normal;
        line-height: 1.2;
        text-align: left;
        &::before {
          display: none;
        }
        strong {
          font-size: 1.2rem;
          display: block;
          font-family: var(--sans-serif);
          font-weight: 500;
        }
        span {
          display: block;
          margin-top: 0.25rem;
        }
      }
    }
  }
</style>
