---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
---

<Layout title='Kelp Client List'>
	<SimpleHero
		title="A Sample of Who We've Helped"
		mediaFront='/images/clients/front.png'
		mediaMiddle='/images/clients/middle.png'
		mediaBack='/images/clients/back.png'
	/>
	<div class='clients wrapper wrapper--narrow'>
		<div class='clients-group'>
			<h2 class='h5'>Ecommerce</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>US Labels</li>
				<li>Tilt Audio</li>
				<li>Deco TV</li>
				<li>Revs Institute</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Financial</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Agent IQ</li>
				<li>Chargeback Gurus</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Food / Health</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Capital Tacos</li>
				<li>Fitlife Foods</li>
				<li>HS&R Sales</li>
				<li>Marker 48</li>
				<li>Summerland Wine</li>
				<li>Stillpoint Aromatics</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Government</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>ReliAscent</li>
				<li>Technology Applications, Inc.</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Home Services</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Miller Tree Care</li>
				<li>JD Oates Drywall</li>
				<li>Paff Landscape</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Industrial / Safety</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Martin Supply</li>
				<li>Radians, Inc.</li>
				<li>RMI</li>
				<li>Wiseway Supply</li>
				<li>Quad City Safety</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Marketing Agencies</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>ES Tech Group</li>
				<li>Nott Shots</li>
				<li>Big Sea</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Media</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Odd Life Studios</li>
				<li>Root & Branch Films</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Medical</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Suncoast Obstetrics & Gynecology</li>
				<li>Citrus Gynecology</li>
				<li>Florida Spine and Injury Center</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Non-profit</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Seven Rivers Church</li>
				<li>Grace World Outreach Church</li>
				<li>Gateway Bible Church</li>
				<li>Church in the Son</li>
				<li>A New Generation</li>
				<li>E3 Family Solutions</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Real Estate / Construction</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Bluestone Construction</li>
				<li>Buckner Realty</li>
				<li>G2D Architecture</li>
				<li>Runion Custom Homes</li>
				<li>Anclote Restoration</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Retail</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Mountaineer Coffee</li>
				<li>Herbert Sherbert</li>
				<li>Skipper McRae Charters</li>
				<li>Westover's Flowers</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Security</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>CDS Security</li>
				<li>Chas D West</li>
				<li>Surelight</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Software / Technology</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Appointedd</li>
				<li>Artisan Talent</li>
				<li>Reputation X</li>
				<li>Computers Unlimited</li>
				<li>Modern Campus</li>
			</ul>
		</div>
		<div class='clients-group'>
			<h2 class='h5'>Venues</h2>
			<ul data-lg-reveal='fade' data-lg-reveal-stagger='0.15'>
				<li>Whitehead Farms</li>
				<li>Smoky Cove Lodge</li>
				<li>Garden Gate Estate</li>
				<li>Triple C Ranch</li>
				<li>Saxon Events</li>
			</ul>
		</div>
	</div>
</Layout>
