[data-lg-reveal-stagger] > *,
.lg-reveal {
	opacity: 0.0001;
}

.lg-cursor {
	&-pointer:before {
		width: 4rem;
		height: 4rem;
		margin: -1rem 0 0 -1rem;
		border: 1px solid var(--light-teal);
		background: none;
		opacity: 0;
	}
	&--hover {
		.lg-cursor-pointer:before {
			border-color: var(--green);
			opacity: 1;
		}
	}
}

.lg-reveal--layer:after,
.lg-reveal--layer-to-top:after,
.lg-reveal--layer-to-right:after,
.lg-reveal--layer-to-bottom:after,
.lg-reveal--layer-to-left:after {
	background: var(--light-teal);
}

.squiggle {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--green);
	text-underline-offset: 8px;
	padding-bottom: 7px;
	font-family: var(--sans-serif);
	line-height: 1.5;
	background-position: bottom center;
	&:hover,
	&:focus {
		text-decoration: none;
		background: url('/images/squiggle.svg') repeat-x bottom center / 20px 12px;
	}
}
