main {
	padding-top: 7rem;
	@media (max-width: 767px) {
		padding-top: 5rem;
	}
}

.wrapper {
	width: 90%;
	margin: auto;
	max-width: 1400px;
	&--narrow {
		@media (min-width: 768px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}

.hidden {
	display: none !important;
}

::selection {
	background: var(--green);
}

iframe[src^="https://codepen.io"]
{
	min-height: 500px;
}
iframe[src^="https://docs.google.com"]
{
	aspect-ratio: 5 / 3;
}
