:root {
	// brand colors
	--purple: #5544f8;
	--light-purple: #aaa2f9;
	--green: #42c634;
	--light-green: #a1e39a;
	--teal: #8aeaed;
	--light-teal: #c5f5f6;
	--lighter-teal: #edf6f2;
	--red: #f4513b;
	--light-red: #f9a79c;
	--black: #0d1726;
	--white: #f4f4f4;
	--grey: #aaaaaa;
	--light-grey: #d7ddda;

	// specific color use cases
	// where we might want to change them
	// dark mode for example
	--text-color: #0d1726;
	--bg-color: #d7ddda;

	// fonts
	--serif: 'Newsreader', serif;
	--sans-serif: 'Poppins', sans-serif;

	// fluid type
	// @link https://utopia.fyi/type/calculator?c=320,16,1.2,1302,18,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
	--step-0: clamp(1rem, calc(0.96rem + 0.2vw), 1.13rem);
	--step-1: clamp(1.2rem, calc(1.13rem + 0.34vw), 1.41rem);
	--step-2: clamp(1.44rem, calc(1.34rem + 0.52vw), 1.76rem);
	--step-3: clamp(1.73rem, calc(1.58rem + 0.76vw), 2.2rem);
	--step-4: clamp(2.07rem, calc(1.85rem + 1.1vw), 2.75rem);
	--step-5: clamp(2.49rem, calc(2.18rem + 1.54vw), 3.43rem);
	--step-6: clamp(2.99rem, calc(2.56rem + 2.13vw), 4.29rem);
	--step-7: clamp(3.58rem, calc(3rem + 2.9vw), 5.36rem);
}

// HD colors where supported
@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root {
			// brand colors
			--purple: color(display-p3 0.312 0.252 1);
			--light-purple: color(display-p3 0.672 0.644 1);
			--green: color(display-p3 0.198 0.786 0);
			--light-green: color(display-p3 0.687 0.883 0.631);
			--teal: color(display-p3 0 0.85 0.897);
			--light-teal: color(display-p3 0.81 0.955 0.962);
			--red: color(display-p3 1 0.367 0.257);
			--light-red: color(display-p3 1 0.68 0.625);
			--black: color(display-p3 0.059 0.089 0.144);
			--white: color(display-p3 0.957 0.957 0.957);
			--grey: color(display-p3 0.667 0.667 0.667);
			--light-grey: color(display-p3 0.847 0.866 0.856);
		}
	}
}
